<%= form_with(model: @upload, url: url) do |form| %>
    <div class="">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="mb-1">
                    <% if @upload.new_record? || current_user&.id == @upload.added_by_id || current_team_member&.id == @upload.added_by_id %>
                        <div id="file-drag-div" draggable="true">
                            <div id="file-holder" class="file-display text-center">
                                <% if @upload_file.data.present? %>
                                    <%= @upload_file.grab_upload_file %>
                                <% else %>
                                    <%= form.label "Upload File", class: 'btn btn-primary', for: 'upload_file' %>
                                    <p class="my-1 text-white"><strong>OR</strong></p>
                                    <p class="my-0 text-white">Drag and Drop File here</p>
                                <% end %>
                            </div>
                        </div>
                        <%= form.label "Change File", class: @upload_file.data.present? ? 'change-file' : 'd-none change-file', for: 'upload_file' %>
                        <%= form.file_field :file, class: 'form-control d-none', accept: ' image/png,image/jpeg,application/pdf', id: 'upload_file' %>
                        <%= form.hidden_field :cached_file, value: @upload_file.encoded_data  %>
                    
                        <p id="file-error" class="text-capitalize text-danger"></p>
                    <% end %>
                </div>
                <div id="form-name-section" class="mb-3">
                    <div class="form-floating">
                        <%= form.text_field :name, class: 'form-control', id: 'upload_name' %>
                        <%= form.label :name, "Name" %>
                    </div>
                    <% if @upload_file.errors[:name].any? %>
                        <p class="text-danger"><%= @upload_file.errors[:name].join(', ') %></p>
                    <% end %>
                </div>
                <div id="form-comment-section" class="mb-3">
                    <div class="form-floating">
                        <%= form.text_area :comment, class: 'form-control', oninput:'this.style.height = ""; this.style.height = this.scrollHeight + "px"' %>
                        <%= form.label "Comment" %>
                    </div>
                    <% if @upload.errors[:comment].any? %>
                        <p class="text-danger"><%= @upload.errors[:comment].join(', ') %></p>
                    <% end %>
                </div>
                <% if !current_user %>
                    <div id="form-name-section" class="mb-3">
                        <div class="form-floating">
                            <%= form.collection_select(:parent_folder_id, current_team_member.folders.all, :id, :name, { prompt: "Select a Folder to save file in" }, { class: 'form-select' }) %>
                            <%= form.label :parent_folder_id do %>
                              Folder to save in
                            <% end %>
                        </div>
                    </div>
                    <div class="form-check form-switch d-flex justify-content-between px-0 pb-3">
                        <%= form.label :visible_to_user, class: 'form-check-label text-light' do %>
                            Allow user to see this file?
                        <% end %>
                        <%= form.check_box :visible_to_user, class: 'form-check-input', id: 'visible-to-user', checked: true%>
                    </div>
                <% end %>
                <div class="text-center mb-3 ">
                    <%= form.submit "Submit", class: 'btn btn-primary', data: {turbo: false} %>
                <div>
            </div>
        </div>
    </div>
<% end %>

<%= javascript_pack_tag 'uploads' %>