<main class="uploads my-3">
  <div class="container p-0">
    <div class="row">
      <div class="col">
        <h2 class="text-center mb-5 text-white" ><i class="fas fa-file"></i> View File</h2>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="show-file-wrapper">
                <div class="img">
                  <% if @upload.grab_upload_file == 'render default pdf image'%>
                      <%= image_tag asset_pack_path('media/images/pdf-image.png')%>       
                  <% else %>
                      <%= @upload.grab_upload_file %>   
                  <% end%> 
                </div>
            </div>
            <div class="editable-area">
              <% if current_team_member %>
                <%= form_with(model: @upload, url: user_upload_path(@user, @upload), method: :patch, local: true) do |form| %>
                    <div class="form-floating my-2">
                        <%= form.text_field :name, class: "form-control", value: "#{@upload.upload_file.name}"%>
                        <label for="name">Name:</label>
                    </div>    
                    <div class="form-floating mb-2">
                      <%= form.text_area :comment, class: "form-control textarea", style: "height: auto;", oninput: "this.style.height = (this.scrollHeight > this.clientHeight ? this.scrollHeight : this.clientHeight) + 'px';" %>
                      <label for="comment">Comment:</label>
                    </div>
                    <% if @upload.added_by_id == current_team_member.id %>
                    <div id="form-name-section" class="mb-3">
                        <div class="form-floating">
                            <%= form.collection_select(:parent_folder_id, current_team_member.folders.all, :id, :name, { prompt: "Select a Folder to save file in" }, { class: 'form-select', selected: @upload.parent_folder_id }) %>
                            <%= form.label :parent_folder_id do %>
                              Folder to save in
                            <% end %>
                        </div>
                    </div>
                      <div class="form-check form-switch d-flex justify-content-between px-0 pb-3 <%="d-none" if current_user %>">
                          <%= form.label :visible_to_user, class: 'form-check-label text-light' do %>
                              Allow user to see this file?
                          <% end %>
                          <%= form.check_box :visible_to_user, class: 'form-check-input', id: 'visible-to-user', checked: @upload.visible_to_user%>
                      </div>
                    <% end %>
                    <div class="mb-5">
                        <%= button_tag type: 'submit', class: 'btn btn-secondary w-100' do %>
                          <i class="fas fa-edit"></i> Update
                        <% end %>
                    </div>
                <% end %>
              <% elsif current_user && @upload.status == 'pending' %>
                <%= form_with(model: @upload, url: upload_path(@upload), method: :patch, local: true) do |form| %>
                    <div class="form-floating my-2">
                        <%= form.text_field :name, class: "form-control", value: "#{@upload.upload_file.name}" %>
                        <label for="name">Name:</label>
                    </div>    
                    <div class="form-floating mb-2">
                        <%= form.text_area :comment, class: "form-control textarea" %>
                        <label for="comment">Comment:</label>
                    </div> 
                    <div class="mb-5">
                        <%= button_tag type: 'submit', class: 'btn btn-secondary w-100' do %>
                          <i class="fas fa-edit"></i> Update
                        <% end %>
                    </div>
                <% end %>
              <% else %>
                 <div class="form-floating my-2">
                        <div id="name" class="form-control"><%= @upload_file.name%></div>
                        <label for="name">Name:</label>
                  </div>    
                  <div class="form-floating mb-2">
                      <div id="comment" class="form-control textarea", onclick="this.style.height = ''; this.style.height = this.scrollHeight + 'px';" ><%= @upload.comment%></div>
                      <label for="comment">Comment:</label>
                  </div> 
              <%end%>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-floating">
                <div id="size" class="form-control"><%= @upload.file_size%></div>
                <label for="size">Size:</label>
            </div> 
            <div class="form-floating my-2">
                <div id="type" class="form-control"><%= @upload_file.file_content_type%></div>
                <label for="type">Type:</label>
            </div> 
            <div class="form-floating my-2">
                <div id="created-at" class="form-control"><%= @upload.created%></div>
                <label for="created-at">Created At:</label>
            </div> 
            <% if @upload.been_updated?%>
              <div class="form-floating my-2">
                  <div id="date-modified" class="form-control"><%= @upload.last_update%></div>
                  <label for="date-modified">Date Modified:</label>
              </div> 
            <% end %>
            <% if (@upload.added_by == 'User' && current_user && @upload.added_by_id == current_user.id) ||
                  (@upload.added_by == 'TeamMember' && current_team_member && @upload.added_by_id == current_team_member.id)%>
              <div class="form-floating my-2">
                  <div id="added-by" class="form-control">You</div>
                  <label for="added-by">Added By:</label>
              </div>
            <% elsif @upload.added_by == 'TeamMember' %>
              <div class="form-floating my-2">
                  <div id="added-by" class="form-control"><%= TeamMember.find(@upload.added_by_id).full_name %></div>
                  <label for="added-by">Added By:</label>
              </div>
            <% elsif @upload.added_by == 'User' %>
              <div class="form-floating my-2">
                  <div id="added-by" class="form-control"><%= User.find(@upload.added_by_id).full_name %></div>
                  <label for="added-by">Added By:</label>
              </div>
            <% end %>
            <% if current_team_member && @upload.approved_by == current_team_member.full_name %> 
              <div class="form-floating my-2">
                  <div id="approved-by" class="form-control"> You </div>
                  <label for="approved-by">Approved By:</label>
              </div>    
            <% else %>
              <div class="form-floating my-2">
                  <div id="approved-by" class="form-control"><%=@upload.approved_by || 'Not Yet Approved'%></div>
                  <label for="approved-by">Approved By:</label>
              </div> 
            <% end %>
            <div class="form-floating my-2">
                <div id="approved-at" class="form-control"><%= @upload.approved_date %></div>
                <label for="approved-at">Approved At:</label>
            </div>
            <% if current_team_member %>
              <div class="form-floating my-2">
                  <div id="visible-to-user" class="form-control"><%=@upload.visible_to_user ? 'Yes' : 'No'  %></div>
                  <label for="visible-to-user">Visible To User:</label>
              </div>
            <% end %>

            <div class="show-button-div "> 
            <% if current_team_member && @upload.added_by == 'User' && @upload.status == 'pending'%>
              <div class="mb-1 button-flex-container">
                <div class="button-flex-item">
                    <%= link_to approve_user_upload_path(user_id: @user.id, id: @upload.id), class: 'btn btn-success w-100 mb-1' do %>
                      <i class="fas fa-check"></i> Approve
                    <% end %>
                </div>
                <div class="button-flex-item">
                    <%= button_to user_upload_path(id: @upload.id, user_id: @user.id), method: :delete, params: { reject: true }, class: 'btn btn-danger w-100 mb-1', data: { confirm: "Are you sure you want to reject this upload? This will delete the upload permanently" } do %>
                      <i class="fas fa-times"></i> Reject
                    <% end %>
                </div>
              </div>
             <% end %> 
              <% if (current_team_member && @upload.added_by_id == current_team_member.id) || (current_user && @upload.added_by_id == current_user.id)%>
                <div class="button-flex-container my-3">
                  <div class="button-flex-item">
                    <% if current_user %>
                        <%= link_to download_file_upload_path(@upload), target: '_blank', class: 'btn btn-primary w-100 mb-1' do %>
                        <i class="fas fa-download"></i> Download
                        <% end %>
                    <% else %>
                        <%= link_to download_file_user_upload_path(@upload), target: '_blank', class: 'btn btn-primary w-100 mb-1' do %>
                      <i class="fas fa-download"></i> Download
                      <% end %>
                    <%end%>
                  </div>
                  <div class="button-flex-item">
                  <% if current_user %>
                      <%= button_to upload_path(@upload), class: 'btn btn-danger w-100 mb-1', method: :delete, data: { confirm: "Are you sure you want to delete this upload?" } do %>
                      <i class="fas fa-trash"></i> Delete
                      <% end %>
                  <% else %>
                      <%= button_to user_upload_path(id: @upload.id, user_id: @user.id), class: 'btn btn-danger w-100 mb-1', method: :delete, data: { confirm: "Are you sure you want to delete this upload?" } do %>
                      <i class="fas fa-trash"></i> Delete
                      <% end %>
                  <% end %>
                  </div>
                </div> 
              <% elsif (current_team_member && @upload.added_by == 'User') %> 
                <div class="button-flex-item">
                  <%= link_to download_file_user_upload_path(id: @upload.id, user_id: @user.id), target: '_blank', class: 'btn btn-primary w-100 mb-1' do %>
                    <i class="fas fa-download"></i> Download
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
