<div class="col-12 col-md-4">
  <div class="card">
    <div class="card-header">
      <span><strong><%= wellbeing_service.name %></strong></span>
      <span>
        <% unless user %>
          <%= link_to edit_wellbeing_service_path(wellbeing_service) do %><i class="fas fa-edit"></i><% end %>
        <% end %>
      </span>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row"><%= wellbeing_service.description %></div>
        <div class="row link"><%= link_to wellbeing_service.website, wellbeing_service.website %></div>
        <div class="row link"><%= link_to "0#{wellbeing_service.contact_number}", "tel:0#{wellbeing_service.contact_number}" %></div>
        <% if wellbeing_service.distance.present? %>
          <div class="details-row">
            <i class="fas fa-road"></i>
            <%= wellbeing_service.distance.truncate(2) %> Miles
          </div>
        <% end %>
        <div class="row"><%= wellbeing_service.address %></div>
        <div class="row"><%= wellbeing_service.postcode %></div>
        <% #unless user %>
          <% if wellbeing_service.wellbeing_metrics.count.positive? %>
            <div class="row">
              <% wellbeing_service.wellbeing_metrics.each do |metric| %>
                <div class="col-6 p-0"><i class="fas fa-paperclip"></i> <%= metric.name %></div>
              <% end %>
            </div>
          <% end %>
        <% #end %>
      </div>
    </div>
  </div>
</div>