<%= render 'layouts/searchable', class_list: 'user folders', header: 'My Folders', index: 'user_folders',
           stats: render(partial: 'shared/folders/stats'), 
           new_btn: render(partial: 'shared/new_btn') do %>
  <%= render 'shared/folders/modal', folder: @new_folder, action: "create", controller: "folders" %>
  <div class="container p-0">
    <div class="row">
      <div class="col">
        <div class="row card-view">
          <% @resources.each do |folder| %>
            <div class="col-12 col-md-6 col-lg-4 mb-3 d-flex justify-content-center" >
              <div class="dropdown">
                <button class="btn btn-primary" type="button" id="folderDropdownMenu-<%=folder.id%>" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= folder.name%>
                </button>
                <ul class="dropdown-menu" aria-labelledby="folderDropdownMenu-<%=folder.id%>">
                  <li><%= link_to "Open", user_folder_children_path(folder_id: folder.id), tabindex: "-1", class: "dropdown-item" %></li>
                  <li><%= render 'shared/folders/dropdown_modal', folder: @new_folder, action: 'create_sub_folder', url: user_folder_create_child_path(folder_id: folder.id) %> </li>
                  <li><a class="dropdown-item" tabindex="-1" href="#">Another action</a></li>
                  <li><a class="dropdown-item" tabindex="-1" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
