<!--<div class="subheading">
  <p><%= @user.first_name %> has <%= pluralize(@count, 'wellbeing assessment', 'wellbeing assessments') %>.</p>
  <p><%= pluralize(@count_in_last_week, 'has', 'have') %> been completed in the last week
    and <%= @count_in_last_month %> in the last month.</p>
  <p><%= pluralize(@count_by_team_member, 'of the total has', 'of the total have') %> been completed by Team
    Members and the other <%= pluralize(@count_by_user, 'was', 'were') %> completed by <%= @user.first_name %></p>
</div> -->

<div></div>