<%= form_with model: appointment, url: url do |form| %>
  <div class="form-floating">
    <%= form.text_field :where, autofocus: true, class: 'form-control', autocomplete: "where", placeholder: "where", pattern: '^[a-zA-Z0-9_., ]*$' %>
    <%= form.label :where %>
    <p class="actual-error-message" ><%= "Please enter valid characters: A-Z, 0-9, '.' & ','" if @appointment.errors.has_key?(:where)%></p>
  </div>

  <div class="form-floating">
    <%= form.text_field :who_with, class: 'form-control', autocomplete: "who_with", placeholder: "who with", pattern: '^[a-zA-Z0-9_., ]*$' %>
    <%= form.label :who_with %>
    <p class="actual-error-message" ><%= "Please enter valid characters: A-Z & 0-9" if @appointment.errors.has_key?(:who_with)%></p>
  </div>

  <div class="form-floating">
    <%= form.text_field :what, class: 'form-control', autocomplete: "what", placeholder: "what about", pattern: '^[a-zA-Z0-9_., ]*$' %>
    <%= form.label :what %>
    <p class="actual-error-message" ><%= "Please enter valid characters: A-Z & 0-9" if @appointment.errors.has_key?(:what)%></p>
  </div>

  <%= form.hidden_field :start %>

  <div class="row date-time-fields">
    <div class="col-8 form-floating">
      <input class="form-control" autocomplete="when" placeholder="when" value="<%= appointment.start_date %>"
              type="date" id="appointment_start_when">
      <label for="appointment_start_when">Start</label>
    </div>

    <div class="col-4 form-floating">
      <input class="form-control" autocomplete="time" placeholder="time" value="<%= appointment.start_time %>"
             type="time" id="appointment_start_time">
      <label for="appointment_start_time">Time</label>
    </div>
  </div>

  <%= form.hidden_field :end %>

  <div class="row date-time-fields">
    <div class="col-8 form-floating">
      <input class="form-control" autocomplete="when" placeholder="when" value="<%= appointment.end_date %>"
              type="date" id="appointment_end_when">
      <label for="appointment_end_when">End</label>
    </div>

    <div class="col-4 form-floating">
      <input class="form-control" autocomplete="time" placeholder="time" value="<%= appointment.end_time %>" type="time"
             id="appointment_end_time">
      <label for="appointment_end_time">Time</label>
    </div>
  </div>

  <%= form.submit 'Submit', class: 'btn btn-primary mt-2' %>
<% end %>

<%= javascript_pack_tag 'start_end_datetime_picker' %>
