<div class="card <%= current_note ? "bg-primary" : "" %> mb-3">
  <div class="card-header d-flex justify-content-between">
    <span><%= note.team_member.full_name %> <%= note.last_update %> </span>

    <div class="note-icons">
      <% if crisis_event_page %>
        <% if current_team_member == note.team_member %>
          <span>
            <%= link_to crisis_event_note_path(@crisis_event, note) do %>
              <i class="fas fa-edit ms-2" data-toggle="tooltip" data-placement="bottom" title="Edit / View History"></i>
            <% end %>
          </span>
        <% elsif note.replacing.present? %>
          <span>
            <%= link_to crisis_event_note_path(@crisis_event, note) do %>
            <i class="fas fa-history ms-2" data-toggle="tooltip" data-placement="bottom" title="View History"></i>
            <% end %>
          </span>
        <% end %>
      <% else %>
        <% if current_team_member == note.team_member && edit %>
          <span class="edit-btn">
            <i class="fas fa-edit ms-2" data-bs-toggle="modal" data-bs-target="#noteModal" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
          </span>
        <% end %>
      <% end %>
    </div>  
  </div>

  <div class="card-body">
    <p class="card-text"><%= simple_format(note.content) %></p>
  </div>
</div>