<main class="container team-members crisis-events">
  <%= render 'shared/back_btn', path: authenticated_team_member_root_path, text: 'Dashboard',
             query_path: crisis_events_path %>
  <%= render 'shared/wrapped_search' %>
  <section class="row">
    <div class="col">
      <h3>Closed Crisis Events</h3>
      <%= render 'shared/search_results', query: params[:query], count: @count %>
      <%= render 'shared/limit', multiple: 5 %>
      <div class="table-container">
        <table class="table table-dark table-striped table-hover link-table">
          <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Crisis Type</th>
            <th scope="col">Additional Info</th>
            <th scope="col">Closed At</th>
          </tr>
          </thead>
          <tbody>
          <% @resources.each do |crisis_event| %>
            <tr>
              <td>
                <%= link_to "#{crisis_event.user.full_name}", crisis_event_path(crisis_event) %>
              </td>
              <td>
                <%= link_to "#{crisis_event.crisis_type.category}", crisis_event_path(crisis_event) %>
              </td>
              <td>
                <%= link_to "#{crisis_event.additional_info}", crisis_event_path(crisis_event) %>
              </td>
              <td>
                <%= link_to "#{crisis_event.closed_formatted}", crisis_event_path(crisis_event) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= render 'shared/pagination_controls', page: @page, final_page: @final_page, last_page?: @last_page,
               first_page: crisis_events_path(page: 1, query: @query, limit: params[:limit]),
               next_page: crisis_events_path(page: @page + 1, query: @query, limit: params[:limit]),
               previous_page: crisis_events_path(page: @page - 1, query: @query, limit: params[:limit]),
               final_page_path: crisis_events_path(page: @final_page, query: @query, limit: params[:limit]) %>
  </section>
</main>
