<main class="container team-members crisis-event">
  <section class="row back-btn mt-3">
    <div class="col">
      <%= link_to active_crisis_events_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Active crisis events
      <% end %>
    </div>
  </section>
  <section class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h3 class="mb-3">Crisis Event</h3>
      <h5 class="mb-3"><%= link_to "#{@crisis_event.user.full_name}", user_path(@crisis_event.user) %>
        raised an SOS <%= time_ago_in_words(@crisis_event.created_at) %> ago</h5>
      <% unless @crisis_event.closed %>
        <h5 class="mb-3">
          Mobile Number: <a href="tel:0<%= @crisis_event.user.mobile_number %>">0<%= @crisis_event.user.mobile_number %></a>
        </h5>
      <% end %>

      <div class="card mb-3">
        <div class="card-header">
          <% if @crisis_event.closed %>
            <span><strong>Closed</strong> <i class="fas fa-times-circle"></i></span>
            <span><strong>Closed At:</strong> <%= @crisis_event.closed_formatted %></span>
          <% else %>
            <span><strong>Active</strong> <i class="fas fa-exclamation-circle"></i></span>
            <span><strong>Last Update At:</strong> <%= @crisis_event.last_update %></span>
          <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title mb-3">Crisis Type: <%= @crisis_event.crisis_type.category %></h5>
          <p class="card-text">
            <% if @crisis_event.additional_info.empty? %>
              User has not provided any additional info
            <%  else  %>
              Additional Info: <%=  @crisis_event.additional_info  %>
            <%  end %>
          </p>
        </div>
          <div class="card-footer">
            <div class="container p-0">
              <div class="row">
                <div class="col-6">
                  <a class="btn btn-primary p-2" data-bs-toggle="modal" data-bs-target="#noteModal">New Note <i class="fas fa-plus-circle"></i></a>
                </div>
                <div class="col-6">
                  <% unless @crisis_event.closed %>
                    <%= link_to close_crisis_event_path(@crisis_event), class: 'btn btn-danger p-2',
                                data: { method: 'put', confirm: 'A crisis event should only be closed if the crisis has been dealt with. Are you sure?' } do %>
                      Close Event <i class="fas fa-times-circle"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </section>
  <% if @notes.present? %>
    <section class="row">
      <div class="col">
        <h3>Notes</h3>

        <div class="container p-0">
          <div class="row">
            <% @notes.each do |note| %>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                  <div class="card-header">
                    <span><%= note.team_member.full_name %></span>
                    <span><%= note.last_update %> </span>
                  </div>
                  <div class="card-body">
                    <p class="card-text"><%= simple_format(note.content) %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</main>
<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sosModalLabel">New Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @note, url: notes_crisis_event_path(@crisis_event), method: :post do |f| %>
          <div class="mb-2">
            <%= f.text_area :content, class: 'form-control', style: 'height: 150px' %>
          </div>

          <div class="container">
            <div class="row">
              <div class="col text-center">
                <%= f.submit 'Add', class: 'btn btn-primary mt-2' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
