<div class="col-12 col-md-6 mb-3">
  <div class="card">
    <div class="card-header">
      <span>
        <%= link_to user_path(wellbeing_assessment.user) do %>
          <%= wellbeing_assessment.user.full_name %> <i class="fas fa-external-link-alt"></i>
        <% end %>
      </span>
      <span>
        <%= wellbeing_assessment.created %>
      </span>
    </div>

    <a href='<%= wellbeing_assessment_path(wellbeing_assessment) %>'>
      <div class="card-body">
        <%= render 'shared/wellbeing_chart/wrapper', wellbeing_assessment: wellbeing_assessment %>
      </div>
    </a>
  </div>
</div>
