<tr>
  <td class="link">
    <%= link_to wellbeing_assessment_path(wellbeing_assessment) do %>
      <%= time_ago_in_words(wellbeing_assessment.created) %> ago
    <% end %>
  </td>
  <% wellbeing_assessment.wba_scores.each do |score| %>
    <td class="metric-score value-<%= score.value %>" data-bs-toggle="tooltip" data-bs-placement="top"
        title="<%= score.wellbeing_metric.name %>: <%= @wba_values[score.value] %>">
    </td>
  <% end %>
  <td class="link">
    <%= link_to wellbeing_assessment_path(wellbeing_assessment) do %>
      Created by <%= wellbeing_assessment.team_member_id.present? ? wellbeing_assessment.team_member.full_name : "User" %>
    <% end %>
  </td>
</tr>