<main class="container team-members wellbeing-assessments index">
  <% if @team_member.present? || @user.present? %>
    <%= render 'shared/back_btn' %>
  <% else %>
    <%= render 'shared/back_btn', next_path: team_member_wellbeing_assessments_path(current_team_member),
               next_text: 'My Wellbeing Assessments' %>
  <% end %>
  <% if @user.present? %>
    <section class="row p-0">
      <div class="col p-0 p-md-3">
        <h3><%= @user.full_name %> wellbeing assessments</h3>
        <div class="subheading">
          <p><%= @user.first_name %> has <%= @count %> wellbeing assessments.</p>
          <p><%= pluralize(@count_in_last_week, 'has', 'have') %> been completed in the last week
            and <%= @count_in_last_month %> in the last month.</p>
          <p><%= pluralize(@count_by_team_member, 'of the total has', 'of the total have') %> been completed by Team
            Members and the other <%= pluralize(@count_by_user, 'was', 'were') %> completed
            by <%= @user.first_name %></p>
        </div>
        <div class="container p-3">
          <%= render 'shared/limit' %>
        </div>
        <div id="card-view" class="container p-3">
          <div class="row">
            <% @resources.each do |wellbeing_assessment| %>
              <div class="col-12 col-md-6 mb-3">
                <div class="card">
                  <div class="card-header">
                  <span>
                    <%= link_to user_path(wellbeing_assessment.user) do %>
                      <%= wellbeing_assessment.user.full_name %> <i class="fas fa-external-link-alt"></i>
                    <% end %>
                  </span>
                    <span>
                    <%= time_ago_in_words(wellbeing_assessment.created) %> ago
                  </span>
                  </div>
                  <a href='<%= wellbeing_assessment_path(wellbeing_assessment) %>'>
                    <div class="card-body p-2">
                      <%= render 'shared/wellbeing_chart/wrapper', wellbeing_assessment: wellbeing_assessment %>
                    </div>
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div id="table-view" class="d-none">
          <small class="pb-2 mobile-hint">
            Table too big? Try turing your phone sideways or checking out this page on your computer
          </small>
          <div class="row table-container">
            <table class="user-wba-index">
              <% @resources.each do |wellbeing_assessment| %>
                <tr>
                  <td class="link">
                    <%= link_to wellbeing_assessment_path(wellbeing_assessment) do %>
                      <%= time_ago_in_words(wellbeing_assessment.created) %> ago
                    <% end %>
                  </td>
                  <% wellbeing_assessment.wba_scores.each do |score| %>
                    <td class="metric-score value-<%= score.value %>" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="<%= score.wellbeing_metric.name %>: <%= @wba_values[score.value] %>">
                    </td>
                  <% end %>
                  <td class="link">
                    <%= link_to wellbeing_assessment_path(wellbeing_assessment) do %>
                      Created by <%= wellbeing_assessment.team_member_id.present? ? wellbeing_assessment.team_member.full_name : "User" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </section>
  <% else %>
    <%= render 'shared/wrapped_search' %>
    <section class="row p-0">
      <div class="col p-0 p-md-3">
        <% if @team_member.present? %>
          <h3><%= @team_member.full_name %> wellbeing assessments</h3>
        <% else %>
          <h3>All wellbeing assessments</h3>
          <div class="subheading">
            <p>There <%= pluralize(@count, 'is', 'are') %> a total of <%= @count %> wellbeing assessments.</p>
            <p><%= pluralize(@count_in_last_week, 'has', 'have') %> been completed in the last week
              and <%= @count_in_last_month %> in the last month.</p>
          </div>
        <% end %>
        <% unless @user.present? %>
          <%= render 'shared/search_results' %>
        <% end %>
        <div class="container p-3">
          <%= render 'shared/limit' %>
          <div class="row">
            <% @resources.each do |wellbeing_assessment| %>
              <div class="col-12 col-md-6 mb-3">
                <div class="card">
                  <div class="card-header">
                  <span>
                    <%= link_to user_path(wellbeing_assessment.user) do %>
                      <%= wellbeing_assessment.user.full_name %> <i class="fas fa-external-link-alt"></i>
                    <% end %>
                  </span>
                    <span>
                    <%= time_ago_in_words(wellbeing_assessment.created) %> ago
                  </span>
                  </div>
                  <a href='<%= wellbeing_assessment_path(wellbeing_assessment) %>'>
                    <div class="card-body p-2">
                      <%= render 'shared/wellbeing_chart/wrapper', wellbeing_assessment: wellbeing_assessment %>
                    </div>
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
  <% if @team_member.present? %>
    <%= render 'shared/pagination_controls', index: 'team_member_wellbeing_assessments' %>
  <% elsif @user.present? %>
    <%= render 'shared/pagination_controls', index: 'user_wellbeing_assessments' %>
  <% else %>
    <%= render 'shared/pagination_controls', index: 'wellbeing_assessments' %>
  <% end %>
  </section>
  <button class="btn btn-sm view-toggle-btn" onclick="toggleViewMode()">Toggle View Mode
  </button>
</main>

<%= javascript_pack_tag 'wellbeing_assessment_chart' %>
<%= javascript_pack_tag 'view_mode' %>
