<% if @user.present? %>
  <%= render 'layouts/searchable', class_list: 'team-members wellbeing-assessments', header: "#{@user.full_name} wellbeing assessments",
             index: 'user_wellbeing_assessments', search: render('search'), stats: render('stats')  do %>
    <div id="card-view" class="container p-0">
      <div class="row">
        <% @resources.each do |wellbeing_assessment| %>
          <%= render 'card', wellbeing_assessment: wellbeing_assessment %>
        <% end %>
      </div>
    </div>
    <div id="table-view" class="d-none p-0">
      <small class="pb-2 mobile-hint">
        Table too big? Try turing your phone sideways or checking out this page on your computer
      </small>
      <div class="row table-container">
        <table class="user-wba-index">
          <% @resources.each do |wellbeing_assessment| %>
            <%= render 'row', wellbeing_assessment: wellbeing_assessment %>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>

  <button class="btn btn-sm view-toggle-btn" onclick="toggleViewMode()">Toggle View Mode</button>
  <%= javascript_pack_tag 'view_mode' %>
<% else %>
  <%= render 'layouts/searchable', class_list: 'team-members wellbeing-assessments',
             header: "#{@team_member.present? ? @team_member.full_name : 'All'} Wellbeing Assessments",
             index: @team_member.present? ? 'team_member_wellbeing_assessments' : 'wellbeing_assessments' do %>
    <div class="container p-0">
      <div class="row">
        <% @resources.each do |wellbeing_assessment| %>
          <%= render 'card', wellbeing_assessment: wellbeing_assessment %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<%= javascript_pack_tag 'wellbeing_assessment_chart' %>
