<main class="ij-form">
  <%= link_to new_team_member_session_path, class: 'login-link' do %>
    Team Members <i class="fas fa-sign-in-alt"></i>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-0 col-md-7 homepage-cover">
        <div class="container homepage-header homepage-section">
          <div class="row mt-auto">
            <h1>Include Journey</h1>
          </div>
          <div class="row">
            <h4>track and progress on Include journey to make the changes you want and need.</h4>
          </div>
          <div class="row">
            <p class="lead"><small>Built by the Legal Innovation Lab Wales</small></p>
          </div>
          <div class="row mt-auto">
            <p class="lead">
              <%= link_to about_path do %>
                Learn More <i class="fas fa-info-circle"></i>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="mobile-hint">
          <h1>Include Journey</h1>
        </div>
        <div class="form-container">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h2><i class="fas fa-user"></i> Log in</h2>

            <div class="form-group">
              <p class="text-danger">
                <% if flash[:alert] %>
                  <%= flash[:alert] %>
                <% end %>
              </p>
            </div>

            <div class="form-floating">
              <%= f.email_field :email, class: 'form-control', autocomplete: "email", placeholder: "Email Address" %>
              <%= f.label :email %>
            </div>

            <div class="form-floating">
              <%= f.password_field :password, class: 'form-control', autocomplete: "current-password", placeholder: "Password" %>
              <%= f.label :password %>
            </div>

            <div class="form-group">
              <%= f.submit "Log in", class: 'btn btn-primary' %>
            </div>

            <div class="other-actions">
              <%= render(partial: "users/shared/links") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
