<p class="mb-0">
  You have a total of <%= "#{pluralize(@count, 'upload')}" %>, with
  <%= @uploads_in_last_30_days %> made in the last 30 days.
  Your uploads consist of  <%= "#{pluralize(@image_uploads, 'image')}" %> and <%= "#{pluralize(@pdf_uploads, 'PDF file')}" %>.
  You uploaded <%= "#{pluralize(@user_uploads, 'file')}" %> while team members uploaded <%= "#{pluralize(@team_member_uploads, 'file')}" %> 
</p>
<p>
  Click the 'Add Upload' button if you want to add a new upload or you can view your previous uploads.
</p>