<div class="modal fade" id="existingSosModal" tabindex="-1" aria-labelledby="existingSosModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="existingSosModalLabel">Existing SOS Requests</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-danger text-center">If you or someone else is in immediate danger, call 999.</p>
        <p>You currently have <%= @active_crisis_events.count %> open SOS requests. The most recent is below.</p>

        <% @active_crisis_events.each do |crisis_event| %>
          <%= form_with model: crisis_event, url: crisis_event_path(crisis_event), method: :put do |f| %>
            <div class="card mb-3">
              <div class="card-header">
                <%= f.hidden_field :crisis_type_id, value: crisis_event.crisis_type.id %>
                <span><%= crisis_event.crisis_type.category %></span>
                <span style="float: right"><%= crisis_event.created %></span>
              </div>
              <div class="card-body">
                <div>
                  <%= crisis_event.additional_info %>
                </div>
              </div>
              <div class="form-floating border-top">
                <%= f.text_area :new_info, class: 'form-control' do %>
                <% end %>
                <%= f.label :new_info, 'Update information'%>
              </div>
              <div class="card-footer">
                <%= f.submit 'Update', class: 'btn btn-primary m-2' %>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="container">
          <div class="row">
            <div class="col text-center">
              <button class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#sosModal">
                Create New Request
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
