<main class="container user dashboard">
  <section class="row journey">
    <div class="col mb-3">
      <h2 class="mb-3">Your Journey</h2>
      <div class="container buttons">
        <div class="row">
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-book"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Diary</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-calendar-alt"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Appointments</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-heart"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Needs</div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-address-book"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Contacts</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-road"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Journey</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-info-circle"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Support</div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-tasks"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Goals</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-calendar-alt"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Include: What's On</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-comments"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Voice</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class="row wellbeing">
    <div class="col-md-3 services mt-5">
      <h3>Your Services</h3>
      <div class="container mt-3">
        <div class="row">
          <div class="col">
            <%= link_to 'Service 1', '#', class: 'btn btn-success' %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <%= link_to 'Service 2', '#', class: 'btn btn-success' %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <%= link_to 'Service 3', '#', class: 'btn btn-success' %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <%= link_to 'Service 4', '#', class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Your Wellbeing</h3>
      <div class="container mt-3">
        <div class="row">
          <div class="col">
            <canvas id="wellbeing-chart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 sliders mt-5">
      <h3>How are you today?</h3>
      <div class="container mt-3">
        <div class="row">
          <div class="col-md-5"><label for="emotionalHealth">Emotional Health</label></div>
          <div class="col-md-5"><input type="range" class="form-range" min="1" max="10" id="emotionalHealth"></div>
          <div class="col-md-2 description">Mediocre</div>
        </div>
        <div class="row">
          <div class="col-md-5"><label for="mentalHealth">Mental Health</label></div>
          <div class="col-md-5"><input type="range" class="form-range" min="1" max="10" id="mentalHealth"></div>
          <div class="col-md-2 description">Mediocre</div>
        </div>
        <div class="row">
          <div class="col-md-5"><label for="physicalHealth">Physical Health</label></div>
          <div class="col-md-5"><input type="range" class="form-range" min="1" max="10" id="physicalHealth"></div>
          <div class="col-md-2 description">Mediocre</div>
        </div>
        <div class="row">
          <div class="col-md-5"><label for="housing">Housing</label></div>
          <div class="col-md-5"><input type="range" class="form-range" min="1" max="10" id="housing"></div>
          <div class="col-md-2 description">Mediocre</div>
        </div>
        <div class="row">
          <div class="col-md-5"><label for="benefitsMoney">Benefits/Money</label></div>
          <div class="col-md-5"><input type="range" class="form-range" min="1" max="10" id="benefitsMoney"></div>
          <div class="col-md-2 description">Mediocre</div>
        </div>
        <div class="row">
          <div class="col-md-5"><label for="food">Food</label></div>
          <div class="col-md-5"><input type="range" class="form-range" min="1" max="10" id="food"></div>
          <div class="col-md-2 description">Mediocre</div>
        </div>
        <div class="row">
          <div class="col-md-5"><label for="behaviour">Behaviour</label></div>
          <div class="col-md-5"><input type="range" class="form-range" min="1" max="10" id="behaviour"></div>
          <div class="col-md-2 description">Mediocre</div>
        </div>
        <div class="row">
          <div class="col-md-5"><label for="addiction">Addiction</label></div>
          <div class="col-md-5"><input type="range" class="form-range" min="1" max="10" id="addiction"></div>
          <div class="col-md-2 description">Mediocre</div>
        </div>
        <div class="row">
          <div class="col-md-5"><label for="community">Sense of Community</label></div>
          <div class="col-md-5"><input type="range" class="form-range" min="1" max="10" id="community"></div>
          <div class="col-md-2 description">Mediocre</div>
        </div>
        <div class="row">
          <div class="col-md-5"><label for="relationships">Relationships</label></div>
          <div class="col-md-5"><input type="range" class="form-range" min="1" max="10" id="relationships"></div>
          <div class="col-md-2 description">Mediocre</div>
        </div>
        <div class="row">
          <div class="col-md-5"><label for="employmentEducationTraining">Employment/Education/Training</label></div>
          <div class="col-md-5"><input type="range" class="form-range" min="1" max="10" id="employmentEducationTraining"></div>
          <div class="col-md-2 description">Mediocre</div>
        </div>
      </div>
    </div>
  </section>
</main>