<main class="container user">
  <section class="row journey">
    <div class="col mb-3">
      <h2 class="mb-3">Your Journey</h2>
      <% if @affirmation.present? %>
        <div class="affirmation">
          <p><%= @affirmation.text %></p>
        </div>
      <% end %>
      <div class="container header-buttons">
        <div class="row">
          <%= render 'shared/dashboard_btn', path: current_user.diary_entries_count.positive? ? diary_entries_path : new_diary_entry_path,
                     icon: 'fa-book', large_text: 'My Diary', text: 'Diary' %>
          <%= render 'shared/dashboard_btn', path: upcoming_appointments_path, icon: 'fa-calendar-alt',
                     large_text: 'My Appointments', text: 'Appts' %>
          <%= render 'shared/dashboard_btn', path: new_wellbeing_assessment_path, icon: 'fa-heart',
                     large_text: 'My Needs', text: 'Needs' %>
        </div>
        <div class="row">
          <%= render 'shared/dashboard_btn', path: current_user.contacts.count.zero? ? new_contact_path : contacts_path, icon: 'fa-address-book',
                     large_text: 'My Contacts', text: 'Contacts' %>
          <%= render 'shared/dashboard_btn', path: journey_path, icon: 'fa-road',
                     large_text: 'My Journey', text: 'Journey' %>
          <%= render 'shared/dashboard_btn', path: wellbeing_services_path, icon: 'fa-info-circle',
                     large_text: 'My Support', text: 'Support' %>
        </div>
        <div class="row">
          <%= render 'shared/dashboard_btn', path: goals_path, icon: 'fa-tasks',
                     large_text: 'My Goals', text: 'Goals' %>
          <%= render 'shared/dashboard_btn', path: current_user_visible_uploads.count.zero? ? new_upload_path : correct_uploads_path, icon: 'fa-file',
                     large_text: 'My Files', text: 'Files' %>
          <%= render 'shared/dashboard_btn', path: surveys_path, icon: 'fa-comments',
                     large_text: 'My Voice', text: 'Voice' %>
        </div>
      </div>
    </div>
  </section>
</main>
