<main class="container user">
  <section class="row journey">
    <div class="col mb-3">
      <h2 class="mb-3">Your Journey</h2>
      <div class="container header-buttons">
        <div class="row">
          <%= link_to dashboard_journal_entries_path, class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-book"></i>
                </div>
              </div>
              <div class="row">
                <div class="col"><span class="display-on-wide">My </span> Journal</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-calendar-alt"></i>
                </div>
              </div>
              <div class="row">
                <div class="col"><span class="display-on-wide">My </span> App<span class="display-on-wide">ointmen</span>ts</div>
              </div>
            </div>
          <% end %>
          <%= link_to new_wba_self_path, class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-heart"></i>
                </div>
              </div>
              <div class="row">
                <div class="col"><span class="display-on-wide">My </span> Needs</div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-address-book"></i>
                </div>
              </div>
              <div class="row">
                <div class="col"><span class="display-on-wide">My </span> Contacts</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-road"></i>
                </div>
              </div>
              <div class="row">
                <div class="col"><span class="display-on-wide">My </span> Journey</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-info-circle"></i>
                </div>
              </div>
              <div class="row">
                <div class="col"><span class="display-on-wide">My </span> Support</div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-tasks"></i>
                </div>
              </div>
              <div class="row">
                <div class="col"><span class="display-on-wide">My </span> Goals</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-calendar-check"></i>
                </div>
              </div>
              <div class="row">
                <div class="col"><span class="display-on-wide">Include: </span>What's On</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-comments"></i>
                </div>
              </div>
              <div class="row">
                <div class="col"><span class="display-on-wide">My </span> Voice</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>
