<main class="container user">
  <section class="row journey">
    <div class="col mb-3">
      <h2 class="mb-3">Your Journey</h2>
      <div class="container buttons">
        <div class="row">
          <%= link_to dashboard_journal_entries_path, class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-book"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Journal</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-calendar-alt"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Appointments</div>
              </div>
            </div>
          <% end %>
          <%= link_to new_wba_self_path, class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-heart"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Needs</div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-address-book"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Contacts</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-road"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Journey</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-info-circle"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Support</div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-tasks"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Goals</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-calendar-alt"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Include: What's On</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-comments"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">My Voice</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section>
    <button class="m-5 btn btn-lg btn-primary">Test world</button>
    <button class="m-5 btn btn-lg btn-outline-primary">Test world</button>
    <button class="m-5 btn btn-lg btn-secondary">Test world</button>
    <button class="m-5 btn btn-lg btn-outline-secondary">Test world</button>
    <button class="m-5 btn btn-lg btn-success">Test world</button>
    <button class="m-5 btn btn-lg btn-outline-success">Test world</button>
    <button class="m-5 btn btn-lg btn-info">Test world</button>
    <button class="m-5 btn btn-lg btn-outline-info">Test world</button>
    <button class="m-5 btn btn-lg btn-warning">Test world</button>
    <button class="m-5 btn btn-lg btn-outline-warning">Test world</button>
    <button class="m-5 btn btn-lg btn-danger">Test world</button>
    <button class="m-5 btn btn-lg btn-outline-danger">Test world</button>
    <button class="m-5 btn btn-lg btn-light">Test world</button>
    <button class="m-5 btn btn-lg btn-outline-light">Test world</button>
    <button class="m-5 btn btn-lg btn-dark">Test world</button>
    <button class="m-5 btn btn-lg btn-outline-dark">Test world</button>
    <button class="m-5 btn btn-lg btn-close-white">Test world</button>
  </section>
  <section>


    <div class="alert alert-primary" role="alert">
      A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-secondary" role="alert">
      A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-success" role="alert">
      A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-danger" role="alert">
      A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-warning" role="alert">
      A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-info" role="alert">
      A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-light" role="alert">
      A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-dark" role="alert">
      A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
  </section>

  <section>
    <span class="p-3 m-1 badge bg-primary text-dark">Primary</span>
    <span class="p-3 m-1 badge bg-secondary">Secondary</span>
    <span class="p-3 m-1 badge bg-success">Success</span>
    <span class="p-3 m-1 badge bg-danger">Danger</span>
    <span class="p-3 m-1 badge bg-warning text-dark">Warning</span>
    <span class="p-3 m-1 badge bg-info text-dark">Info</span>
    <span class="p-3 m-1 badge bg-light text-dark">Light</span>
    <span class="p-3 m-1 badge bg-dark">Dark</span>
    <span class="p-3 m-1 badge rounded-pill bg-primary text-dark">Primary</span>
    <span class="p-3 m-1 badge rounded-pill bg-secondary">Secondary</span>
    <span class="p-3 m-1 badge rounded-pill bg-success">Success</span>
    <span class="p-3 m-1 badge rounded-pill bg-danger">Danger</span>
    <span class="p-3 m-1 badge rounded-pill bg-info text-dark">Info</span>
    <span class="p-3 m-1 badge rounded-pill bg-light text-dark">Light</span>
    <span class="p-3 m-1 badge rounded-pill bg-dark">Dark</span>
  </section>
  <section>
    <p class="text-primary">Our flagship project, the ‘include community hub’ is run by ex-offenders for ex-offenders, their families and the wider community. The idea is to harness the potential of people who have lived experience of the challenges faced by disadvantaged groups, and for them to help others turn their lives around.primary</p>
    <p class="text-secondary">Our flagship project, the ‘include community hub’ is run by ex-offenders for ex-offenders, their families and the wider community. The idea is to harness the potential of people who have lived experience of the challenges faced by disadvantaged groups, and for them to help others turn their lives around.secondary</p>
    <p class="text-success">Our flagship project, the ‘include community hub’ is run by ex-offenders for ex-offenders, their families and the wider community. The idea is to harness the potential of people who have lived experience of the challenges faced by disadvantaged groups, and for them to help others turn their lives around.success</p>
    <p class="text-danger">Our flagship project, the ‘include community hub’ is run by ex-offenders for ex-offenders, their families and the wider community. The idea is to harness the potential of people who have lived experience of the challenges faced by disadvantaged groups, and for them to help others turn their lives around.danger</p>
    <p class="text-warning bg-dark">Our flagship project, the ‘include community hub’ is run by ex-offenders for ex-offenders, their families and the wider community. The idea is to harness the potential of people who have lived experience of the challenges faced by disadvantaged groups, and for them to help others turn their lives around.warning</p>
    <p class="text-info bg-dark">Our flagship project, the ‘include community hub’ is run by ex-offenders for ex-offenders, their families and the wider community. The idea is to harness the potential of people who have lived experience of the challenges faced by disadvantaged groups, and for them to help others turn their lives around.info</p>
    <p class="text-light bg-dark">Our flagship project, the ‘include community hub’ is run by ex-offenders for ex-offenders, their families and the wider community. The idea is to harness the potential of people who have lived experience of the challenges faced by disadvantaged groups, and for them to help others turn their lives around.light</p>
    <p class="text-dark">Our flagship project, the ‘include community hub’ is run by ex-offenders for ex-offenders, their families and the wider community. The idea is to harness the potential of people who have lived experience of the challenges faced by disadvantaged groups, and for them to help others turn their lives around.dark</p>
    <p class="text-body">Our flagship project, the ‘include community hub’ is run by ex-offenders for ex-offenders, their families and the wider community. The idea is to harness the potential of people who have lived experience of the challenges faced by disadvantaged groups, and for them to help others turn their lives around.body</p>
    <p class="text-muted">Our flagship project, the ‘include community hub’ is run by ex-offenders for ex-offenders, their families and the wider community. The idea is to harness the potential of people who have lived experience of the challenges faced by disadvantaged groups, and for them to help others turn their lives around.muted</p>
    <p class="text-white bg-dark">Our flagship project, the ‘include community hub’ is run by ex-offenders for ex-offenders, their families and the wider community. The idea is to harness the potential of people who have lived experience of the challenges faced by disadvantaged groups, and for them to help others turn their lives around.white</p>
    <p class="text-black-50">Our flagship project, the ‘include community hub’ is run by ex-offenders for ex-offenders, their families and the wider community. The idea is to harness the potential of people who have lived experience of the challenges faced by disadvantaged groups, and for them to help others turn their lives around.black-50</p>
    <p class="text-white-50 bg-dark">Our flagship project, the ‘include community hub’ is run by ex-offenders for ex-offenders, their families and the wider community. The idea is to harness the potential of people who have lived experience of the challenges faced by disadvantaged groups, and for them to help others turn their lives around.white-50</p>
  </section>
</main>
