<main class="container user">
  <section class="row journey">
    <div class="col mb-3">
      <h2 class="mb-3">Your Journey</h2>
      <div class="container header-buttons">
        <div class="row">
          <%= render 'shared/dashboard_btn', path: current_user.journal_entries.count.zero? ? new_journal_entry_path : journal_entries_path, 
                     icon: 'fa-book', large_text: 'My Journal', text: 'Journal' %>
          <%= render 'shared/dashboard_btn', path: upcoming_appointments_path, icon: 'fa-calendar-alt',
                     large_text: 'My Appointments', text: 'Appts' %>
          <%= render 'shared/dashboard_btn', path: new_wellbeing_assessment_path, icon: 'fa-heart',
                     large_text: 'My Needs', text: 'Needs' %>
        </div>
        <div class="row">
          <%= render 'shared/dashboard_btn', path: contacts_path, icon: 'fa-address-book',
                     large_text: 'My Contacts', text: 'Contacts' %>
          <%= render 'shared/dashboard_btn', path: '#', icon: 'fa-road',
                     large_text: 'My Journey', text: 'Journey' %>
          <%= render 'shared/dashboard_btn', path: '#', icon: 'fa-info-circle',
                     large_text: 'My Support', text: 'Support' %>
        </div>
        <div class="row">
          <%= render 'shared/dashboard_btn', path: '#', icon: 'fa-tasks',
                     large_text: 'My Goals', text: 'Goals' %>
          <%= render 'shared/dashboard_btn', path: '#', icon: 'fa-calendar-check',
                     large_text: "Include: What's On", text: "What's On" %>
          <%= render 'shared/dashboard_btn', path: '#', icon: 'fa-comments',
                     large_text: 'My Voice', text: 'Voice' %>
        </div>
      </div>
    </div>
  </section>
</main>
