<%= form_with model: wellbeing_service, url: path do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-0 col-lg-3"></div>
      <div class="col-12 col-lg-6 form">
        <h3><%= title %> Wellbeing Service</h3>
        <div class="form-floating">
          <%= f.text_field :name, class: 'form-control', required: true, pattern: '^[a-zA-Z0-9_- ]*$' %>
          <%= f.label :name %>
          <p class="actual-error-message" ><%= "Please enter valid characters: A-Z & 0-9" if @wellbeing_service.errors.has_key?(:name)%></p>
        </div>

        <div class="form-floating">
          <%= f.text_area :description, class: 'form-control', pattern: '^[a-zA-Z0-9_.,- ]*$' %>
          <%= f.label :description %>
          <p class="actual-error-message" ><%= "Please enter valid characters: A-Z, 0-9, '.' & ','" if @wellbeing_service.errors.has_key?(:description)%></p>
        </div>

        <div class="form-floating">
          <%= f.text_field :website, class: 'form-control', required: true, pattern: '^[a-zA-Z0-9:/._- ]*$' %>
          <%= f.label :website %>
          <p class="actual-error-message" ><%= "Please enter valid characters: A-Z & 0-9" if @wellbeing_service.errors.has_key?(:website)%></p>
        </div>

        <div class="form-floating">
          <%= f.text_field :contact_number, class: 'form-control', required: true, pattern: '^[0-9]*$' %>
          <%= f.label :contact_number %>
          <p class="actual-error-message" ><%= "Please enter valid characters: 0-9" if @wellbeing_service.errors.has_key?(:contact_number)%></p>
        </div>

        <div class="container p-0">
          <div class="row m-0">
            <% wellbeing_metrics.each do |metric| %>
              <div class="col-12 col-lg-6 p-0">
                <div class="form-check form-switch">
                    <%= f.check_box "wellbeing_metric_#{metric.id}", class: 'form-check-input',
                                    checked: wellbeing_service.wellbeing_metrics.include?(metric) %>
                  <%= f.label "wellbeing_metric_#{metric.id}", metric.name, class: 'form-check-label' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
          <div class="container">
            <div class="row mt-3">
              <div class="col-2"></div>
              <div class="col-8"><%= f.submit @wellbeing_service.id.present? ? 'Update' : 'Create',
                                              class: 'btn btn-primary' %></div>
              <div class="col-2"></div>
            </div>

            <% if @wellbeing_service.id.present? %>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <%= link_to 'Remove', wellbeing_service_path(@wellbeing_service), method: :delete, class: 'btn btn-sm btn-danger',
                              data: { confirm: 'This will delete the wellbeing service. Are you sure?' } %>
                </div>
                <div class="col-2"></div>
              </div>
            <% end %>
          </div>
      </div>
      <div class="col-0 col-lg-3"></div>
    </div>
  </div>
<% end %>