<main class="container user">
  <%= render 'shared/back_btn' %>
  <div class="row justify-content-end mt-1">
  </div>
  <section class="row appointments">
    <div class="col">
      <h3 class="mb-0">Current SOS events</h3>
      <div class="container">
        <%= render 'shared/search_results' %>
        <div class="row">
          <% @crisis_events.each do |crisis_event| %>
            <div class="col-12 col-md-4 past">
              <div class="card border-primary mt-3 text-al">
                <%= form_with model: crisis_event, method: :put do |f| %>
                  <div class="card-header bg-primary">
                    <p class="mb-0">Opened: <%= time_ago_in_words(crisis_event.created_at) %> ago</p>
                    <% if crisis_event.updated_at > crisis_event.created_at %>
                      <p class="mb-0">Updated: <%= time_ago_in_words(crisis_event.updated_at) %> ago</p>
                    <% end %>
                  </div>
                  <div class="card-body bg-transparent">
                    <%= f.hidden_field :crisis_type_id, value: crisis_event.crisis_type.id %>
                    <p class="card-text"><strong>Type:</strong> <%= crisis_event.crisis_type.category %> </p>
                    <p class="card-text"><strong>Info:</strong> <%= crisis_event.additional_info.html_safe %> </p>
                    <div class="row">
                      <%= f.text_area :new_info, class: 'form-control border-none' do %>
                        <%= f.label :new_info, 'Additional Information' %>
                      <% end %>
                    </div>
                    <div class="card-footer d-flex">
                      <%= f.submit 'Update', class: 'btn btn-primary m-2' %>
                    </div>
                <% end %>
                </div>
              </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%#= render 'shared/pagination_controls', index: 'appointments'%>
</main>