<main class="container user">
  <div class="row m-1 mt-3">
    <div class="col">
      <%= link_to authenticated_user_root_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Dashboard
      <% end %>
    </div>
  </div>
  <section class="row pb-4" id="upcoming">
    <div class="col past">
      <h3 class="mb-0">past appointments</h3>
      <% @past_appointments.each do |past_appointments| %>
        <div class="cards mt-3 rounded-1">
          <p> You had an appointment at <%= past_appointments.where %>, about <%= past_appointments.what %> with
            <%= past_appointments.who_with %>. It
            was <%= distance_of_time_in_words(Time.now, past_appointments.start_datetime) %> ago
            on <%= past_appointments.end_datetime.strftime("%d/%m/%Y") %></p>
        </div>
      <% end %>
    </div>
    <div class="col appointments">
      <h3 class="mb-0">Your appointments</h3>
      <% @appointments.each do |appointments| %>
        <div class="cards mt-3 rounded-1">
          <p> You have an appointment at <%= appointments.where %>, about <%= appointments.what %> with
            <%= appointments.who_with %>. It's
            in <%= distance_of_time_in_words(Time.now, appointments.start_datetime) %> at
            <%= appointments.start_datetime.strftime("%I:%M%p") %>
            on <%= appointments.start_datetime.strftime("%d/%m/%Y") %></p>
        </div>
      <% end %>
      <%#= link_to "Add New Appointment", new_appointment_path, class: 'btn btn-outline-secondary' %>
    </div>
    <div class="col create">
      <h3 class="mb-0">Create new appointment</h3>
      <p> Enter in the information to add a new event.</p>
      <%= form_with model: @appointment, url: appointments_path, method: :post do |f| %>
        <%= f.label :where %>
        <%= f.text_field :where, autofocus: true, class: 'form-control', autocomplete: "where", placeholder: "where" %>
        <%= f.label :who_with %>
        <%= f.text_field :who_with, class: 'form-control', autocomplete: "who_with", placeholder: "who with" %>
        <%= f.label :what_about %>
        <%= f.text_field :what, class: 'form-control', autocomplete: "what", placeholder: "what about" %>
        <%= f.label :when %>
        <%= datepicker_input f, :start_datetime %>

        <div class="form-floating">
        </div>
        <%= f.submit 'Submit', class: 'btn btn-primary mt-2' %>
      <% end %>

      <div class="container mt-3">
        <div class="row">
          <div class="col-9">

            <!-- %= render "shared/assessment_create" %>-->
          </div>
          <div class="col-3 description-col">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
