<main class="container user">
  <%= render 'shared/back_btn', path: upcoming_appointments_path, text: 'Upcoming Appointments',
             next_path: new_appointment_path, next_text: 'New Appointment' %>
  <section class="row pb-4" id="upcoming">
    <div class="col-0 col-md-4"></div>
    <div class="col-12 col-md-4 past">
      <h3 class="mb-0">past appointments</h3>
      <% @past_appointments.each do |past_appointments| %>
        <div class="card border-primary mt-3">
          <div class="card-header bg-primary">
            at  <%= past_appointments.start_datetime.strftime("%I:%M%p on %a #{past_appointments.start_datetime.day.ordinalize} %B") %> <br />
          </div>
          <div class="card-body">
            <p>
              <%= distance_of_time_in_words(Time.now, past_appointments.start_datetime) %> ago
              with <%= past_appointments.who_with %>
              about <%= past_appointments.what %>
              at <%= past_appointments.where %>
              for <%= "%02d:%02d:%02d" % [past_appointments.duration / 3600, past_appointments.duration / 60 % 60, past_appointments.duration % 60] %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-0 col-md-4"></div>
  </section>
</main>
