<main class="container user">
  <%= render 'shared/back_btn', path: upcoming_appointments_path, text: 'Upcoming Appointments',
             next_path: new_appointment_path, next_text: 'New Appointment' %>
  <div class="row justify-content-end">
    <%= render 'shared/search' %>
  </div>
  <div class="row justify-content-end mt-1">
    <%= render 'shared/limit' %>
  </div>
  <section class="row appointments">
    <div class="col">
      <h3 class="mb-0">Past appointments</h3>
      <div class="container">
        <%= render 'shared/search_results' %>
        <div class="row">
          <% @resources.each do |past_appointments| %>
            <div class="col-12 col-md-4 past">
              <div class="card border-primary mt-3 text-al">
                <div class="card-header bg-primary"><%= past_appointments.what %> </div>
                <div class="card-body bg-transparent">
                  <p class="card-text"> <i class="fas fa-user"></i> <%= past_appointments.who_with %> </p>
                  <p> <i class="fas fa-location-arrow"></i> <%= past_appointments.where %></p>
                  <p> <i class="fas fa-clock"></i> <%= past_appointments.time_on_date %></p>
                  <p> <i class="fas fa-hourglass-start"></i> <%= past_appointments.duration %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <%= render 'shared/pagination_controls', index: 'appointments'%>
</main>
