<main class="container user">
  <div class="row m-1 mt-3">
    <div class="col">
      <%= link_to authenticated_user_root_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Dashboard
      <% end %>
    </div>
  </div>
  <section class="row pb-4" id="upcoming">
    <div class="col-md-3 upcoming">
      <h3 class="mb-0">past appointments</h3>
      <div class="container mt-3">
        <div class="row mt-2">
          <div class="col">
            <%= link_to "View all my appointments", new_wellbeing_assessment_path, class: 'btn btn-outline-secondary' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 appointments">
      <h3 class="mb-0">Your appointments</h3>
        <% @appointments.each do |appointments| %>
        <div class="cards mt-3 rounded-1">
          <p> You have an appointment at <%= appointments.where %>, about <%= appointments.what %> with
            <%= appointments.who_with %>. It's in <%= distance_of_time_in_words(Time.now, appointments.start)%> at
            <%= appointments.start.strftime("%I:%M%p")%>.</p>
        </div>
        <% end %>
      </div>
    <div class="col-md-5 create">
          <h3 class="mb-0">Create new appointment</h3>
          <p> Enter in the information to add a new event.</p>
          <%= form_with model: @appointment do |f| %>
            <%= f.label :where %>
            <%= f.text_field :where, autofocus: true, class: 'form-control', autocomplete: "where", placeholder: "where" %>
            <%= f.label :who_with %>
            <%= f.text_field :who_with, autofocus: true, class: 'form-control', autocomplete: "who_with", placeholder: "who with" %>
            <%= f.label :what_about %>
            <%= f.text_field :what, autofocus: true, class: 'form-control', autocomplete: "what", placeholder: "what about" %>

            <div class="form-floating">
            </div>
            <%= f.submit 'Submit', class: 'btn btn-primary mt-2' %>
          <% end %>
          <div class="container mt-3">
            <div class="row">
              <div class="col-9">

                <!-- %= render "shared/assessment_create" %>-->
              </div>
              <div class="col-3 description-col">
              </div>
            </div>
          </div>
        </div>
        </section>
</main>

<%= javascript_pack_tag 'polar_area_chart' %>