<main class="container user">
  <div class="row m-1 mt-3">
    <div class="col">
      <%= link_to authenticated_user_root_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Dashboard
      <% end %>
    </div>
  </div>
  <section class="row pb-4" id="upcoming">
    <div class="col past">
      <h3 class="mb-0">past appointments</h3>
        <% @past_appointments.each do |past_appointments| %>
          <div class="cards mt-3 rounded-1">
        <p> You had an appointment at <%= past_appointments.where %>, about <%= past_appointments.what %> with
          <%= past_appointments.who_with %>. It was <%= distance_of_time_in_words(Time.now, past_appointments.start_datetime)%> ago on <%= past_appointments.end_datetime.strftime("%d/%m/%Y") %></p>
          </div>
        <% end %>
      <div class="container mt-3">
        <div class="row mt-2">
          <div class="col">
            <%= link_to "View all my appointments", new_appointment_path, class: 'btn btn-outline-secondary' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col appointments">
      <h3 class="mb-0">Your appointments</h3>
        <% @appointments.each do |appointments| %>
        <div class="cards mt-3 rounded-1">
          <p> You have an appointment at <%= appointments.where %>, about <%= appointments.what %> with
            <%= appointments.who_with %>. It's in <%= distance_of_time_in_words(Time.now, appointments.start_datetime)%> at
            <%= appointments.start_datetime.strftime("%I:%M%p")%> on <%= appointments.start_datetime.strftime("%d/%m/%Y") %></p>
        </div>
        <% end %>
      <%= link_to "Add New Appointment", new_appointment_path, class: 'btn btn-outline-secondary' %>
      </div>
        </section>
</main>
