<main class="container user">
  <%= render 'shared/back_btn', path: appointments_path, text: 'Back' %>
  <section class="row" id="upcoming">
    <div class="col-0 col-md-4"></div>
    <div class="col-12 col-md-4 create">
      <h3 class="mb-0">Create new appointment</h3>
      <p> Enter in the information to add a new event.</p>
      <div class="container">
        <%= form_with model: @appointment, url: appointments_path, method: :post do |f| %>
          <div class="form-floating">
            <%= f.text_field :where, autofocus: true, class: 'form-control', autocomplete: "where", placeholder: "where" %>
            <%= f.label :where %>
          </div>

          <div class="form-floating">
            <%= f.text_field :who_with, class: 'form-control', autocomplete: "who_with", placeholder: "who with" %>
            <%= f.label :who_with %>
          </div>

          <div class="form-floating">
            <%= f.text_field :what, class: 'form-control', autocomplete: "what", placeholder: "what about" %>
            <%= f.label :what_about %>
          </div>

          <%= f.hidden_field :start %>

          <div class="row date-time-fields">
            <div class="col-8 form-floating">
              <input class="form-control" autocomplete="when" placeholder="when" value="<%= Date.tomorrow %>"
                     min="<%= Date.today %>" type="date" id="appointment_start_when">
              <label for="appointment_start_when">Start</label>
            </div>

            <div class="col-4 form-floating">
              <input class="form-control" autocomplete="time" placeholder="time" value="12:00" type="time"
                     id="appointment_start_time">
              <label for="appointment_start_time">Time</label>
            </div>
          </div>

          <%= f.hidden_field :end %>

          <div class="row date-time-fields">
            <div class="col-8 form-floating">
              <input class="form-control" autocomplete="when" placeholder="when" value="<%= Date.tomorrow %>"
                     min="<%= Date.today %>" type="date" id="appointment_end_when">
              <label for="appointment_end_when">End</label>
            </div>

            <div class="col-4 form-floating">
              <input class="form-control" autocomplete="time" placeholder="time" value="12:00" type="time"
                     id="appointment_end_time">
              <label for="appointment_end_time">Time</label>
            </div>
          </div>

          <%= f.submit 'Submit', class: 'btn btn-primary mt-2' %>
        <% end %>
      </div>
    </div>
    <div class="col-0 col-md-4"></div>
  </section>
</main>

<%= javascript_pack_tag 'datetime_picker' %>
