<main class="container user">
  <%= render 'shared/back_btn', path: authenticated_user_root_path, text: 'Dashboard',
             next_path: new_appointment_path, next_text: 'New Appointment' %>
  <section class="row appointments">
    <div class="col">
      <h3 class="mb-0">Upcoming appointments</h3>
      <div class="container">
        <div class="row">
          <% @appointments.each do |appointments| %>
            <div class="col-12 col-md-4">
              <div class="card border-primary mt-3">
                <div class="card-header bg-primary">
                  at  <%= appointments.time_on_date %> <br />
                </div>
                <div class="card-body">
                  <p>
                    In <%= distance_of_time_in_words(Time.now, appointments.start) %>
                    with <%= appointments.who_with %>
                    about <%= appointments.what %>
                    at <%= appointments.where %>
                    for <%= appointments.duration %>
                    <%= link_to 'Edit', edit_appointment_path(appointments.id) %>
                    <%= link_to 'Delete', appointment_path(appointments.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-2 col-md-4"></div>
    <div class="col-8 col-md-4">
      <%= link_to 'View Past Appointments', appointments_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-2 col-md-4"></div>
  </section>
</main>
