<main class="container user">
  <section class="row contact-logs">
    <h2 class="mb-0">
      <% if @user %>
        <%= @user.full_name %>'s
      <% end %>
      Recent contact logs
    </h2>
    <div class="subheading">
      <p>There are a total of <%= @contact_logs.size %> recent contact logs.</p>
      <p><%= pluralize(@count_in_last_week, 'has', 'have') %> happened in the last week.
    </div>
    <div class="container">
      <% if !(@team_member && (@team_member.id != current_team_member.id))  %>
        <%= render 'shared/new_btn', path: @user ? new_user_contact_log_path : new_contact_log_path, text: 'Add Contact Log' %>
      <% end %>
      <hr>
      <div class="row">
        <% @contact_logs.each do |contact_log| %>
          <%= render(partial: 'card', locals: {contact_log: contact_log}) %>
        <% end %>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-2 col-md-4"></div>
    <div class="col-8 col-md-4">
      <% if @user %>
        <%= link_to user_contact_logs_path(@user), class: 'btn btn-primary' do %>
          View Archived Contact Logs <i class="fas fa-arrow-circle-right"></i>
        <% end %>
      <% elsif @team_member %>
       <%= link_to team_member_contact_logs_path(@team_member), class: 'btn btn-primary' do %>
          View Archived Contact Logs <i class="fas fa-arrow-circle-right"></i>
        <% end %>
      <% else %>
        <%= link_to contact_logs_path, class: 'btn btn-primary' do %>
          View Archived Contact Logs <i class="fas fa-arrow-circle-right"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col-2 col-md-4"></div>
  </section>
</main>
