<main class="container user">
  <section class="row contact-logs">
    <h2 class="mb-0">Recent contact logs</h2>
    <div class="subheading">
      <p>There are a total of <%= @contact_logs.size %> recent contact logs.</p>
      <p><%= pluralize(@count_in_last_week, 'has', 'have') %> happened in the last week.
    </div>
    <div class="container">
      <%= render 'shared/new_btn', path: new_contact_log_path, text: 'Add Contact Log' %>
      <hr>
      <div class="row">
        <% @contact_logs.each do |contact_log| %>
          <%= render(partial: 'card', locals: {contact_log: contact_log}) %>
        <% end %>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-2 col-md-4"></div>
    <div class="col-8 col-md-4">
      <%= link_to contact_logs_path, class: 'btn btn-primary' do %>
        View Archived Contact Logs <i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
    <div class="col-2 col-md-4"></div>
  </section>
</main>
