<%= form_with model: @contact do |f| %>
  <div class="form-floating">
    <%= f.text_field :name, class: 'form-control', required: true%>
    <%= f.label :name, 'Name' %>
    <p class="actual-error-message" >
      <% @contact.errors[:name].each do |err| %>
        <%= err %>
      <% end %>
    </p>

  </div>
  <div class="form-floating">
    <%= f.text_area :description, class: 'form-control',  required: true%>
    <%= f.label :description, 'Description' %>
    <p class="actual-error-message" >
      <% @contact.errors[:description].each do |err| %>
        <%= err %>
      <% end %>
    </p>
  </div>
  <div class="form-floating">
    <%= f.text_field :number, class: 'form-control'%>
    <%= f.label :number, 'Phone Number' %>
    <p class="actual-error-message" >
      <% @contact.errors[:number].each do |err| %>
        <%= err %>
      <% end %>
    </p>
  </div>
  <div class="form-floating">
    <%= f.email_field :email, class: 'form-control' %>
    <%= f.label :email, 'Email' %>
   <p class="actual-error-message" >
      <% @contact.errors[:email].each do |err| %>
        <%= err %>
      <% end %>
    </p>
  </div>

  <%= f.submit submit_btn_text, class: 'btn btn-primary' %>
<% end %>