<section class="row back-btn">
  <div class="col">
    <% if params[:query].present? %>
      <%= link_to query_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Back To All
      <% end %>
    <% else %>
      <%= link_to path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> <%= text %>
      <% end %>
    <% end %>
  </div>
  <% if local_assigns[:next_path].present? %>
    <div class="col next">
      <%= link_to local_assigns[:next_path], class: 'btn btn-primary' do %>
        <%= local_assigns[:next_text] %> <i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  <% end %>
</section>
