<%= link_to path, class: "col d-flex align-items-center btn #{local_assigns[:hidden] ? 'v-hidden' : ''}" do %>
  <div class="container">
    <div class="row">
      <div class="col">
        <i class="mb-1 fas <%= icon %>"></i>
      </div>
    </div>
    <div class="row">
      <div class="col text">
        <% if local_assigns[:large_text].present? %>
          <span class="display-on-wide"><%= local_assigns[:large_text] %></span>
          <span class="hide-on-wide"><%= text %></span>
        <% else %>
          <%= text %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
