<nav class="navbar navbar-expand-lg navbar-light bg-brand">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h2>Include Journey</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% unless dashboard_controller? %>
        <% if current_team_member %>
          <div class="navbar-items">
            <%= link_to users_path, class: 'btn btn-nav' do %>
              <i class="fas fa-user"></i>
              <div class="nav-label hide">Users</div>
            <% end %>
            <%= link_to analytics_path, class: 'btn btn-nav' do %>
              <i class="fas fa-chart-line"></i>
              <div class="nav-label hide">Analytics</div>
            <% end %>
            <%= link_to recent_contact_logs_path, class: 'btn btn-nav' do %>
              <i class="fas fa-clipboard-list"></i>
              <div class="nav-label hide">Contact Logs</div>
            <% end %>
            <%= link_to diary_entries_path, class: 'btn btn-nav' do %>
              <i class="fas fa-book-open"></i>
              <div class="nav-label hide">Diary Entries</div>
            <% end %>
            <%= link_to wellbeing_assessments_path, class: 'btn btn-nav' do %>
              <i class="fas fa-heart"></i>
              <div class="nav-label hide">Wellbeing Assessments</div>
            <% end %>
            <%= link_to wellbeing_services_path, class: 'btn btn-nav' do %>
              <i class="fas fa-tools"></i>
              <div class="nav-label hide">Wellbeing Management</div>
            <% end %>
            <% if wallich?%>
              <%= link_to occupational_therapist_assessments_path, class: 'btn btn-nav' do %>
                <i class="fas fa-list"></i>
                <div class="nav-label hide">Occupational Therapist Assessment</div>
              <% end %>
            <% end %>
            <%= link_to edit_team_member_registration_path, class: 'btn btn-nav' do %>
              <i class="fas fa-user-edit"></i>
              <div class="nav-label hide">Edit Profile</div>
            <% end %>
            <%= link_to affirmations_path, class: 'btn btn-nav' do %>
              <i class="fas fa-smile"></i>
              <div class="nav-label hide">Daily Affirmations</div>
            <% end %>
            <%= link_to tags_path, class: 'btn btn-nav' do %>
              <i class="fas fa-tags"></i>
              <div class="nav-label hide">Tags</div>
            <% end %>
            <%= link_to Survey.count.zero? ? new_survey_path : surveys_path, class: 'btn btn-nav' do %>
              <i class="fas fa-clipboard-list"></i>
              <div class="nav-label hide">Surveys</div>
            <% end %>
          </div>
        <% end %>

        <% if current_user %>
          <div class="navbar-items">
            <%= link_to diary_entries_path, class: 'btn btn-nav' do %>
              <i class="fas fa-book"></i>
              <div class="nav-label hide">My Diary</div>
            <% end %>
            <%= link_to upcoming_appointments_path, class: 'btn btn-nav' do %>
              <i class="fas fa-calendar-alt"></i>
              <div class="nav-label hide">Appointments</div>
            <% end %>
            <%= link_to new_wellbeing_assessment_path, class: 'btn btn-nav' do %>
              <i class="fas fa-heart"></i>
              <div class="nav-label hide">My Needs</div>
            <% end %>
            <%= link_to contacts_path, class: 'btn btn-nav' do %>
              <i class="fas fa-address-book"></i>
              <div class="nav-label hide">My Contacts</div>
            <% end %>
            <%= link_to journey_path, class: 'btn btn-nav' do %>
              <i class="fas fa-road"></i>
              <div class="nav-label hide">My Journey</div>
            <% end %>
            <%= link_to wellbeing_services_path, class: 'btn btn-nav' do %>
              <i class="fas fa-info-circle"></i>
              <div class="nav-label hide">My Support</div>
            <% end %>
            <%= link_to goals_path, class: 'btn btn-nav' do %>
              <i class="fas fa-tasks"></i>
              <div class="nav-label hide">My Goals</div>
            <% end %>
            <%= link_to correct_uploads_path, class: 'btn btn-nav' do %>
              <i class="fas fa-file"></i>
              <div class="nav-label hide">My Files</div>
            <% end %>
            <%= link_to surveys_path, class: 'btn btn-nav' do %>
              <i class="fas fa-comments"></i>
              <div class="nav-label hide">My Voice</div>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <div class="navbar-right-buttons">
        <div class="navbar-items">
          <% if current_team_member %>
            <%= link_to notifications_path, class: "btn btn-light" do %>
              <div class="nav-label hide"> My Notifications</div>
              <div class="notification">
                <i class="fas fa-bell"></i>
                <%if alert_team_member_of_notifications? %>
                  <span class="notification-dot"></span>
                <%end%>
              </div>
            <%end%>
            <% if current_team_member.admin? %>
              <%= link_to approvals_path, class: 'btn btn-secondary' do %>
                <i class="fas fa-check"></i>
                <div class="nav-label hide">Approvals</div>
              <% end %>
              <%= link_to team_members_path, class: "btn btn-info" do %>
                <div class="nav-label hide">Team Members</div>
                <i class="fas fa-users"></i>
              <% end %>
            <% end %>
            <div class= "btn btn-danger", id= "report">
              <div class="nav-label hide">Report Issue</div>
              <i class="fas fa-flag"></i>
            </div>
            <%= link_to destroy_team_member_session_path, method: :delete, class: "btn btn-warning" do %>
              <div class="nav-label hide">Logout</div>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          <% end %>
          <% if current_user %>
            <%= link_to edit_user_registration_path, class: "btn btn-success" do %>
              <div class="nav-label hide"> My Profile</div>
              <i class="fas fa-user-edit"></i>
            <% end %>
            <%= link_to notifications_path, class: "btn btn-light" do %>
              <div class="nav-label hide"> My Notifications</div>
              <div class="notification">
                <i class="fas fa-bell"></i>
                <%if alert_user_of_notification?%>
                  <span class="notification-dot"></span>
                <%end%>
              </div>
            <% end %>
            <%= link_to guide_path, class: "btn btn-info" do %>
              <div class="nav-label hide">Guide</div>
              <i class="fas fa-question-circle"></i>
            <% end %>
            <div class= "btn btn-danger", id= "report">
              <div class="nav-label hide">Report Issue</div>
              <i class="fas fa-flag"></i>
            </div>
            <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-warning" do %>
              <div class="nav-label hide">Logout</div>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

<%= render 'shared/breadcrumbs' %>
<%= render 'shared/report_issue' %>
<%= javascript_pack_tag 'navbar' %>
