<nav class="navbar navbar-expand-lg navbar-light bg-brand">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h2>Include Journey</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if current_user %>
        <% unless dashboard_controller? %>
          <a class="btn btn-danger m-1" data-bs-toggle="modal"
          data-bs-target="<%= @active_crisis_events.present? ? '#existingSosModal' : '#sosModal'%>">
          SOS <i class="fas fa-exclamation-circle"></i>
        </a>
          <% end %>
        <% end %>


      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div class="d-flex">
        <% if current_team_member %>
          <%= link_to edit_team_member_registration_path, class: "btn btn-success m-1" do %>
            Edit Profile <i class="fas fa-user-edit"></i>
          <% end %>
          <%= link_to destroy_team_member_session_path, method: :delete, class: "btn btn-warning m-1" do %>
            Logout <i class="fas fa-sign-out-alt"></i>
          <% end %>
        <% end %>
        <% if current_user %>
          <% unless devise_controller? %>
            <a class="btn btn-danger m-1" data-bs-toggle="modal"
               data-bs-target="<%= @active_crisis_events.present? ? '#existingSosModal' : '#sosModal'%>">
              SOS <i class="fas fa-exclamation-circle"></i>
            </a>
          <% end %>
          <%= link_to edit_user_registration_path, class: "btn btn-success m-1" do %>
            Edit Profile <i class="fas fa-user-edit"></i>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-warning m-1" do %>
            Logout <i class="fas fa-sign-out-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>