<div class="col" style="text-align: centre">
  <% if controller_name == 'uploads' %>
    <%= link_to path, class: 'btn btn-success' do %>
      <i class="fas fa-upload"></i> <%= text %>
    <% end %>
    <%if @has_folders%>
      <%= link_to user_folders_path(@user), class: 'btn btn-primary' do %>
        <i class="fas fa-folder"></i> <%= "Folders" %>
      <% end %>
    <% elsif @has_folders && current_team_member %>
      <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#folder-modal">
        <i class="fas fa-folder"></i> Create Folder
      </button>
    <%= render 'shared/folders/modal', url: nil, folder: @new_folder, action: "create", controller: "folders" %>
    <% end %>
  <% elsif controller_name == 'folders' || controller_name == 'child_folders' %>
    <button class="btn btn-success my-2 py-2 px-3" type="button" data-bs-toggle="modal" data-bs-target="#folder-modal">
      <i class="fas fa-plus-circle"></i> Create Folder
    </button>
  <% else %>  
    <%= link_to path, class: 'btn btn-success' do %>
      <i class="fas fa-plus-circle"></i> <%= text %>
    <% end %>
  <% end %>
</div>