<div class="pyramid container">
  <div class="row top-tier">
    <div class="metric triangle up wba-score__<%= wba_scores.find_by(wellbeing_metric_id: 11).value %>">
      <i class="fas fa-user-tie"></i>
    </div>
  </div>
  <div class="row middle-tier">
    <div class="metric polygon left wba-score__<%= wba_scores.find_by(wellbeing_metric_id: 5).value %>">
      <i class="fas fa-brain"></i>
    </div>
    <div class="metric polygon right wba-score__<%= wba_scores.find_by(wellbeing_metric_id: 6).value %>">
      <i class="fas fa-heartbeat"></i>
    </div>
  </div>
  <div class="row middle-tier">
    <div class="metric triangle up wba-score__<%= wba_scores.find_by(wellbeing_metric_id: 4).value %>">
      <i class="fas fa-running"></i>
    </div>
    <div class="metric triangle down wba-score__<%= wba_scores.find_by(wellbeing_metric_id: 7).value %>">
      <i class="fas fa-people-carry"></i>
    </div>
    <div class="metric triangle up wba-score__<%= wba_scores.find_by(wellbeing_metric_id: 8).value %>">
      <i class="fas fa-capsules"></i>
    </div>
    <div class="metric triangle down wba-score__<%= wba_scores.find_by(wellbeing_metric_id: 9).value %>">
      <i class="fas fa-people-arrows"></i>
    </div>
    <div class="metric triangle up wba-score__<%= wba_scores.find_by(wellbeing_metric_id: 10).value %>">
      <i class="fas fa-users"></i>
    </div>
  </div>
  <div class="row bottom-tier">
    <div class="metric parallelogram left wba-score__<%= wba_scores.find_by(wellbeing_metric_id: 1).value %>">
      <i class="fas fa-home"></i>
    </div>
    <div class="metric trapezoid center wba-score__<%= wba_scores.find_by(wellbeing_metric_id: 2).value %>">
      <i class="fas fa-wallet"></i>
    </div>
    <div class="metric parallelogram right wba-score__<%= wba_scores.find_by(wellbeing_metric_id: 3).value %>">
      <i class="fas fa-pizza-slice"></i>
    </div>
  </div>
</div>