<div class="card <%= current_note ? "bg-primary" : "bg-transparent" %> my-2">
  <div class="card-header d-flex justify-content-between">
      <span>
        <% if note.visible_to_user? %>
          <i class="fa fa-eye text-danger" data-toggle="tooltip" data-placement="bottom" title="Visible to User"></i>
        <% else %>
          <i class="fa fa-eye-slash" data-toggle="tooltip" data-placement="bottom" title="Invisible to User"></i>
        <% end %>
        Added by <strong><%= note.team_member.first_name %></strong> on <strong><%= note.created %></strong>
      </span>
    
    <% if history || edit %>
      <div class="note-icons">
        <% if !note.replacing_id.nil? && history %>
          <span>
            <%= link_to user_note_path(@user, note) do %>
                <i class="fas fa-history ms-2" data-toggle="tooltip" data-placement="bottom" title="View History"></i>
            <% end %>
          </span>
        <% end %>
        <% if edit %>
          <span onclick="gareth(<%= @user.id %>, <%= note.id %>)">
            <i class="fas fa-edit ms-2" data-bs-toggle="modal" data-bs-target="#edit-note-modal" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <span>
      <%= simple_format(note.content) %>
    </span>
  </div>
</div>
