<div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="note-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg col-12" role="document">
    <div class="modal-content">
      <%= form_for note, url: { controller: controller, action: action, user_id: user_id } do |form| %>
      <div class="modal-header border-0">
        <h5 class="modal-title text-black-50"><%= "#{action} note".titleize %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body border-0">
        <div class="input-group mb-3">
          <%= form.text_area :content, class: 'form-control', rows: '8', placeholder: 'Add your note', aria: { label: 'Add your note' }, required: 'true' %>
        </div>
        <p class="actual-error-message" >
          <% note.errors[:content].each do |err| %>
            <%= err %>
          <% end %>
        </p>
        <%= form.hidden_field :dated, id: 'dated' %>
        <div class="row date-time-fields">
          <div class="col-8 form-floating">
            <input class="form-control" autocomplete="when" placeholder="when" value="<%= note.date %>"
                    type="date" id="dated_when" required="true">
            <label for="dated_when" class="ms-2">Date</label>
          </div>

          <div class="col-4 form-floating">
            <input class="form-control" autocomplete="time" placeholder="time" value="<%= note.time %>" type="time"
                  id="dated_time" required="true">
            <label for="dated_time" class="ms-2">Time</label>
          </div>
        </div>
        <p class="actual-error-message" >
          <% note.errors[:dated].each do |err| %>
            <%= err %>
          <% end %>
        </p>
        <div class="form-check form-switch d-flex justify-content-between px-0 pt-2">
          <%= form.label :visible_to_user, class: 'form-check-label text-black-50' do %>
          Allow user to see this note?
          <% end %>
          <%= form.check_box :visible_to_user, class: 'form-check-input', id: 'visible-to-user' %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <%= form.submit "#{action} note".titleize, class: 'btn btn-success', id: 'submit'%>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'datetime_picker' %>
<%= javascript_pack_tag 'note_modal' %>