<main class="container team-members journal-entry-view-logs">
  <%= render 'shared/back_btn' %>
  <%= render 'shared/wrapped_search' %>
  <section class="row">
    <div class="col">
      <h3><%= @team_member.full_name %> journal entry view logs (<%= @count %>)</h3>
      <%= render 'shared/search_results', query: params[:query], count: @count %>
      <%= render 'shared/limit', resources_per_page: @resources_per_page %>
      <table class="table table-dark table-striped">
        <thead>
          <th scope="col">User</th>
          <th scope="col">Created At</th>
          <th scope="col">Viewed At</th>
        </thead>
        <tbody>
        <% @resources.each do |view_log| %>
          <tr>
            <td><%= view_log.user.full_name %></td>
            <td><%= view_log.journal_entry.created %></td>
            <td><%= view_log.created %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= render 'shared/pagination_controls', index: 'team_member_journal_entry_view_logs' %>
  </section>
</main>