<main class="container team-members journal-entry-view-logs">
  <%= render 'shared/back_btn', path: team_member_path(@team_member), text: "Back To #{@team_member.full_name}",
             query_path: team_member_journal_entry_view_logs_path(@team_member) %>
  <%= render 'shared/wrapped_search' %>
  <section class="row">
    <div class="col">
      <h3><%= @team_member.full_name %> journal entry view logs (<%= @count %>)</h3>
      <table class="table table-dark table-striped">
        <thead>
          <th scope="col">User</th>
          <th scope="col">Created At</th>
          <th scope="col">Viewed At</th>
        </thead>
        <tbody>
        <% @resources.each do |view_log| %>
          <tr>
            <td><%= view_log.user.full_name %></td>
            <td><%= view_log.journal_entry.created %></td>
            <td><%= view_log.created %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= render 'shared/pagination_controls', page: @page, final_page: @final_page, last_page?: @last_page,
               first_page: team_member_journal_entry_view_logs_path(page: 1, query: params[:query]),
               next_page: team_member_journal_entry_view_logs_path(page: @page + 1, query: params[:query]),
               previous_page: team_member_journal_entry_view_logs_path(page: @page - 1, query: params[:query]),
               final_page_path: team_member_journal_entry_view_logs_path(page: @final_page, query: params[:query]) %>
  </section>
</main>