<%= render 'layouts/searchable', class_list: 'team-members journal-entry-view-logs',
           header: "#{@team_member.full_name}",
           subheader: "journal entry view logs (#{@count})",
           index: 'team_member_journal_entry_view_logs' do %>
  <div class="container p-0">
    <div class="row mb-3">
      <div class="col">
        <div class="input-group date-sort-select">
          <select class="form-select">
            <option value="viewed_at_desc">Viewed At (Descending)</option>
            <option value="viewed_at_asc">Viewed At (Ascending)</option>
            <option value="created_at_desc">Created At (Descending)</option>
            <option value="created_at_asc">Created At (Ascending)</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-dark table-striped">
          <thead>
          <th scope="col">User</th>
          <th scope="col">Journal Entry</th>
          <th scope="col">Published at</th>
          <th scope="col">First Viewed At</th>
          <th scope="col">Last Viewed At</th>
          <th scope="col">View Count</th>

          </thead>
          <tbody>
          <% @resources.each do |view_log| %>
            <tr>
              <td><%= view_log.user.full_name %></td>
              <td><%= journal_entry_path(view_log.journal_entry) %></td>
              <td><%= view_log.journal_entry.created %></td>
              <td><%= view_log.created %></td>
              <td><%= view_log.created %>
              <td><%= view_log.view_count %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'date_sort' %>
