<p>
  <%= @user.full_name %>'s crisis has been updated.
</p>

<%= render 'crisis_details' %>

<% if @crisis_notes.present? %>
  <div class="crisis-details">
    <h3>Crisis Notes</h3>
    <% @crisis_notes.each do |crisis_note| %>
      <p><strong><%= crisis_note.team_member.full_name %></strong> left a note at <%= crisis_note.last_update %></p>
      <p><%= simple_format(crisis_note.content) %></p>
    <% end %>
  </div>
<% end %>

<p>Click the button below to login and manage this crisis.</p>

<div class="btn-container">
  <%= link_to 'Login', crisis_event_url(@crisis_event) %>
</div>