<main class="container team-members crisis_events">
  <div class="row m-1 mt-3">
    <div class="col">
      <%= link_to crisis_events_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Back to active
      <% end %>
    </div>
  </div>
  <section class="row">
    <div class="col">
      <h3>Closed Crisis Events</h3>
      <div class="table-container">
        <table class="table table-dark table-striped link-table">
          <thead>
          <th scope="col">User</th>
          <th scope="col">Crisis Type</th>
          <th scope="col">Additional Info</th>
          <th scope="col">Closed At</th>
          </thead>
          <tbody>
          <% @crisis_events.each do |crisis_event| %>
            <tr>
              <td>
                <%= link_to "#{crisis_event.user.first_name} #{crisis_event.user.last_name}",
                            crisis_event_path(crisis_event) %>
              </td>
              <td>
                <%= link_to "#{crisis_event.crisis_type.category}", crisis_event_path(crisis_event) %>
              </td>
              <td>
                <%= link_to "#{crisis_event.additional_info}", crisis_event_path(crisis_event) %>
              </td>
              <td>
                <%= link_to "#{crisis_event.closed_formatted}", crisis_event_path(crisis_event) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12">
      <div class="container pagination_controls">
        <div class="row">
          <div class="col">
            <% unless @page == 1 %>
              <%= link_to pages_crisis_events_path(@page - 1), class: 'btn btn-primary' do %>
                <i class="fas fa-arrow-circle-left"></i> Previous
              <% end %>
            <% end %>
          </div>
          <div class="col"></div>
          <div class="col">
            <% unless @last_page %>
              <%= link_to pages_crisis_events_path(@page + 1), class: 'btn btn-primary' do %>
                Next <i class="fas fa-arrow-circle-right"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
