<div class="row">
    <div class="col-12 mb-4">
        <div class="card h-100">
            <div class="card-header d-flex">
                <h3 class="me-auto align-self-center" >Occupational Therapist Scores</h3>
            </div>
            <div class="card-body bg-transparent h-100" id="ot-scores-card">
                <% if user.occupational_therapist_scores.empty? %>
                    <p class="mx-4"><%= user.first_name %> currently has no occupational therapist scores. Enter new scores.</p>
                    <div class="border mx-3">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Date and Time</th>
                                    <th scope="col">OT Score 1</th>
                                    <th scope="col">OT Score 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%= render 'team_members/users/occupational_therapist_scores/new_ot_scores', user: user, get_index: 1%>
                            </tbody>
                        </table>
                    </div>
                <% else %>
                    <div class="border mx-3">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Date and Time</th>
                                    <th scope="col">OT Score 1</th>
                                    <th scope="col">OT Score 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% user.old_occupational_therapist_scores.each_with_index do | ot_score_set, index |%>
                                    <tr>
                                        <th scope="row"><%= index + 1 %></th>
                                        <td><%= user.old_occupational_therapist_scores_dates[index].strftime('%Y-%m-%d at %H:%M:%S')%></td>
                                        <td><%= ot_score_set[0] %></td>
                                        <td><%= ot_score_set[1]%></td>
                                    </tr>
                                <% end %>
                                <tr>
                                        <th scope="row"><%= user.old_occupational_therapist_scores.count + 1  %></th>
                                        <td><%= user.occupational_therapist_scores_date.strftime('%Y-%m-%d at %H:%M:%S') %></td>
                                        <td><%= user.occupational_therapist_scores[0] %></td>
                                        <td><%=  user.occupational_therapist_scores[1] %></td>
                                </tr>
                                <%= render 'team_members/users/occupational_therapist_scores/new_ot_scores', user: user, get_index: 1%>
                            </tbody>
                        </table>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>