<div class="metric <%= shape %> wba-score__<%= score.value %>" data-toggle="tooltip" data-placement="right"
     title="<%= score.wellbeing_metric.name %> - (<%= score_description(score.value) %>)">
  <i class="fas fa-<%= score.wellbeing_metric.icon %>"></i>
</div>
