<main class="container user surveys show">
  <section class="row">
    <h3><%= @survey.name %></h3>
    <%= form_with url: survey_path(@survey), method: :put do |f| %>
      <% @survey_sections.each do |section| %>
        <div class="container">
            <% if section.heading.present? %>
              <h4><%= section.heading %></h4>
            <% end %>

            <% unless section.survey_questions.count.zero? %>
              <div class="row table-header">
                <div class="col-12 col-lg-6"></div>
                <% 6.times do |index| %>
                  <div class="col-2 col-lg-1"><div class="header-text"><%= survey_option(index )%></div></div>
                <% end %>
              </div>

              <% section.survey_questions.includes(:survey_answers).order(order: :asc).each do |question| %>
                <div class="row">
                  <div class="col-12 col-lg-6"><%= question.question %></div>
                  <% 6.times do |index| %>
                    <div class="col-2 col-lg-1">
                      <label>
                        <div class="label"><%= survey_option(index) %></div>
                        <% survey_answer = question.survey_answers.find_by(survey_response: @survey_response) %>
                        <% if survey_answer.present? && survey_answer.answer == index %>
                          <input class="form-check-input" type="radio" name="question[<%= question.id %>]"
                                 value="<%= index %>" data-id="<%= question.id %>" required checked />
                        <% else %>
                          <input class="form-check-input" type="radio" name="question[<%= question.id %>]"
                                 value="<%= index %>" data-id="<%= question.id %>" required />
                        <% end %>
                      </label>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>

            <% section.survey_comment_sections.includes(:survey_comments).order(order: :asc).each do |comment_section| %>
              <div class="row comment-section">
                <div class="form-floating">
                  <% survey_comment = comment_section.survey_comments.find_by(survey_response: @survey_response) %>
                  <textarea class="form-control" name="comment_section[<%= comment_section.id %>]"
                            id="comment_section[<%= comment_section.id %>]" data-id="<%= comment_section.id %>"><%= survey_comment.present? ? survey_comment.text : '' %></textarea>
                  <label for="comment_section[<%= comment_section.id %>]"><%= comment_section.label %></label>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <%= f.submit 'Submit', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</main>

<%= javascript_pack_tag 'survey' %>