<main class="container team-members surveys edit">
  <section class="row">
    <div class="col survey">
      <div class="container">
        <%= form_with model: @survey, url: survey_path(@survey), method: :put, id: 'survey' do |f| %>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-floating">
                <%= f.text_field :name, class: 'form-control', placeholder: 'Survey Name', required: true,
                                 data: { name: 'name' } %>
                <%= f.label :name, 'Survey Name' %>
              </div>
              <p class="actual-error-message" >
                <% @survey.errors[:name].each do |err| %>
                  <%= err %>
                <% end %>
              </p>
            </div>
            <div class="col-6 col-md-4">
              <div class="form-floating">
                <%= f.date_field :start_date, class: 'form-control', required: true, data: { name: 'start_date' } %>
                <%= f.label :start_date, 'Start Date' %>
              </div>
              <p class="actual-error-message" >
                  <% @survey.errors[:start_date].each do |err| %>
                    <%= err %>
                  <% end %>
                </p>
            </div>
            <div class="col-6 col-md-4">
              <div class="form-floating">
                <%= f.date_field :end_date, class: 'form-control', required: true, data: { name: 'end_date' } %>
                <%= f.label :end_date, 'End Date' %>
              </div>
              <p class="actual-error-message" >
                  <% @survey.errors[:end_date].each do |err| %>
                    <%= err %>
                  <% end %>
                </p>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col">
            <%= link_to survey_path(@survey), method: :delete, class: 'btn btn-sm btn-danger delete-btn',
                        data: { confirm: 'This will delete the entire survey. Are you sure?' } do %>
              <i class="fas fa-trash-alt"></i> Delete Survey
            <% end %>
          </div>
        </div>
      </div>
      <% @survey_sections.each do |section| %>
        <div class="container survey-section" id="section[<%= section.id %>]" data-id="<%= section.id %>" data-resource-id>
          <div class="row section" draggable="true" data-resource-id="<%= section.id %>" data-type="section">
            <div class="col-auto">
              <i class="fas fa-grip-lines"></i>
            </div>
            <div class="col">
              <%= text_field_tag "section[#{section.id}]", section.heading, class: 'form-control',
                                 placeholder: 'Section Heading', pattern: '^[a-zA-Z0-9_ ]*$' %>
            </div>
          </div>
          <% unless section.survey_questions.count.zero? %>
            <div class="row table-header">
              <div class="col-12 col-lg-6"></div>
              <% 6.times do |index| %>
                <div class="col-2 col-lg-1"><div class="header-text"><%= survey_option(index) %></div></div>
              <% end %>
            </div>

            <% section.survey_questions.order(order: :asc).each do |question| %>
              <div class="row question" draggable="true" id="question[<%= question.id %>]"
                   data-resource-id="<%= question.id %>" data-type="question">
                <div class="col-12 col-lg-6">
                  <i class="fas fa-grip-lines"></i>
                  <%= text_field_tag "question[#{question.id}]", question.question, placeholder: 'Question',
                                     class: 'form-control form-control-sm', data: { id: question.id },
                                     pattern: '^[a-zA-Z0-9_ ]*$' %>
                </div>
                <% 6.times do |index| %>
                  <div class="col-2 col-lg-1">
                    <label>
                      <div class="label"><%= survey_option(index) %></div>
                      <%= radio_button_tag "question[#{question.id}]", index, false, class: 'form-check-input',
                                           data: { id: question.id } %>
                    </label>
                  </div>
                <% end %>
                <%= link_to survey_question_path(@survey, section, question), method: :delete,
                            class: 'btn btn-sm btn-danger', title: 'Remove Question',
                            data: { toggle: 'tooltip', placement: 'bottom' } do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <div class="row add-btn">
            <div class="col">
              <%= link_to survey_question_index_path(@survey, section), method: :post,
                          class: 'btn btn-sm btn-success' do %>
                <i class="fas fa-plus-circle"></i> Add Question
              <% end %>
            </div>
          </div>
          <% section.survey_comment_sections.order(order: :asc).each do |comment_section| %>
            <div class="row comment-section" draggable="true" id="comment-section[<%= comment_section.id %>]"
                 data-resource-id="<%= comment_section.id %>" data-type="comment_section">
              <div class="col-auto">
                <i class="fas fa-grip-lines"></i>
              </div>
              <div class="col">
                <%= text_field_tag "comment_section[#{comment_section.id}]", comment_section.label,
                                   placeholder: 'Label', class: 'form-control', data: { id: comment_section.id },
                                   pattern: '^[a-zA-Z0-9_ ]*$' %>
                <%= text_area_tag "comment_section[#{comment_section.id}]", '', class: 'form-control', disabled: true,
                                  id: "comment_section[#{comment_section.id}]", data: { id: comment_section.id } %>
                <%= link_to survey_comment_section_path(@survey, section, comment_section), method: :delete,
                            class: 'btn btn-sm btn-danger', title: 'Remove Comment Section',
                            data: { toggle: 'tooltip', placement: 'bottom' } do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="row add-btn">
            <div class="col">
              <%= link_to survey_comment_section_index_path(@survey, section), method: :post,
                          class: 'btn btn-sm btn-success' do %>
                <i class="fas fa-plus-circle"></i> Add Comment Section
              <% end %>
            </div>
          </div>
          <%= link_to survey_section_path(@survey, section), method: :delete,
                      class: 'btn btn-sm btn-danger remove-section',
                      title: 'Remove Section',
                      data: {
                        confirm: 'This will delete the entire section including all questions and comment sections therein. Are you sure?',
                        toggle: 'tooltip',
                        placement: 'bottom'
                      } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>
      <%= link_to survey_section_index_path(@survey), method: :post, class: 'btn btn-sm btn-success' do %>
        <i class="fas fa-plus-circle"></i> Add Section
      <% end %>
    </div>
  </section>
</main>

<%= javascript_pack_tag 'survey_text_fields' %>
<%= javascript_pack_tag 'survey_drag_drop' %>
<%= javascript_pack_tag 'survey_reorder' %>

