<main class="container team-members surveys edit">
  <section class="row">
    <div class="col">
      <h2><%= @survey.name %></h2>
        <% @survey_sections.each do |section| %>
          <div class="container survey-section">
            <%= text_field_tag "section[#{section.id}]", section.heading, class: 'form-control',
                               data: { id: section.id }, placeholder: 'Section Heading' %>
            <% unless section.survey_questions.count.zero? %>
              <div class="row table-header">
                <div class="col-12 col-lg-6"></div>
                <% 6.times do |index| %>
                  <div class="col-2 col-lg-1"><div class="header-text"><%= survey_option(index) %></div></div>
                <% end %>
              </div>

              <% section.survey_questions.order(order: :asc).each do |question| %>
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <%= text_field_tag "question[#{question.id}]", question.question, class: 'form-control form-control-sm',
                                       data: { id: section.id }, placeholder: 'Question' %>
                  </div>
                  <% 6.times do |index| %>
                    <div class="col-2 col-lg-1">
                      <label>
                        <div class="label"><%= survey_option(index) %></div>
                        <%= radio_button_tag "question[#{question.id}]", index, false, class: 'form-check-input',  data: { id: question.id } %>
                      </label>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <%= link_to survey_survey_sections_path(@survey), method: :post, class: 'btn btn-success' do %>
          <i class="fas fa-plus-circle"></i> Add Section
        <% end %>
    </div>
  </section>
</main>
