<main class="container team-members surveys show">
  <section class="row">
    <div class="col">
      <h2><%= @survey.name %></h2>
      <p>
        This is an aggregate view of all <%= @response_count %> responses to this survey.<br>
        If you would like to view a list of all of the responses use the button below.
      </p>
      <%= link_to survey_response_index_path(@survey, @response), class: 'btn btn-primary' do %>
        <i class="fas fa-clipboard-list"></i> View List
      <% end %>
      <% @survey_sections.each do |section| %>
        <div class="container survey-section">
          <% if section.heading.present? %>
            <h4><%= section.heading %></h4>
          <% end %>

          <% unless section.survey_questions.count.zero? %>
            <div class="row table-header">
              <div class="col-12 col-lg-6"></div>
              <% 6.times do |index| %>
                <div class="col-2 col-lg-1"><div class="header-text"><%= survey_option(index) %></div></div>
              <% end %>
            </div>

            <% section.survey_questions.includes(:survey_answers).order(order: :asc).each do |question| %>
              <div class="row question">
                <div class="col-12 col-lg-6"><%= question.question %></div>
                <% total_answers = question.survey_answers.count %>
                <% 6.times do |index| %>
                  <% answer_count = question.survey_answers.where(answer: index).count %>
                  <% answer_pct = (answer_count.to_f / total_answers) * 100 %>
                  <div class="col-2 col-lg-1" data-toggle="tooltip" data-placement="bottom"
                       title="<%= answer_count %> (<%= answer_pct %>%)">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                           style="width: <%= answer_pct %>%" aria-valuenow="<%= answer_pct %>"
                           aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="label">
                      <%= answer_count %><br>
                      (<%= answer_pct %>%)<br>
                      <%= survey_option(index) %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>

          <% section.survey_comment_sections.includes(:survey_comments).order(order: :asc).each do |comment_section| %>
            <div class="row comment-section">
              <div class="col-12">
                <%= comment_section.label %>
              </div>
              <div class="col-12">
                <% comments_count = comment_section.survey_comments.count %>
                Comments: <%= comments_count %> (<%= (comments_count.to_f / @response_count) * 100 %>%)
              </div>
              <div class="col-12">
                <%= link_to '#', class: 'btn btn-primary' do %>
                  <i class="fas fa-comments"></i> View Comments
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</main>
