<main class="container team-members team_member">
  <section class="row">
    <div class="col mb-3">
      <h2><%= @team_member.full_name %> </h2>
      <div class="header-buttons">
        <div class="row">
          <%= link_to team_member_user_profile_view_logs_path(@team_member), class: 'col-md-3 d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-user"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">User Profile View Logs</div>
              </div>
            </div>
          <% end %>
          <%= link_to team_member_wellbeing_assessments_path(@team_member),
                      class: 'col-md-3 d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-clipboard"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Wellbeing Assessments</div>
              </div>
            </div>
          <% end %>
          <%= link_to team_member_diary_entry_view_logs_path(@team_member), class: 'col-md-3 d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-eye"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Diary Entry View Logs</div>
              </div>
            </div>
          <% end %>
          <%= link_to recent_team_member_contact_logs_path(@team_member), class: 'col-md-3 d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-clipboard-list"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Contact Logs</div>
              </div>
            </div>
          <% end %>
          <%= link_to team_member_users_path(@team_member), class: 'col-md-3 d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-user"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Assign Users</div>
              </div>
            </div>
          <% end %>
          <%= link_to team_member_upload_activity_logs_path(@team_member), class: 'col-md-3 d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-upload"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">User File Activity Logs</div>
              </div>
            </div>
          <% end %>
          <% if wallich? %>
            <%= link_to team_member_occupational_therapist_assessments_path(@team_member), class: 'col-md-3 d-flex align-items-center btn' do %>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <i class="mb-1 fas fa-list"></i>
                  </div>
                </div>
                <div class="row">
                  <div class="col">Occupational Therapist Assessments</div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class="row" id="info">
    <div class="col mb-3">
      <h3>Details</h3>
      <div class="table-container">
        <table class="table table-dark table-striped">
          <thead>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Admin</th>
            <th scope="col">Created At</th>
            <th scope="col">Last Update</th>
          </thead>
          <tbody>
            <tr>
              <td><%= @team_member.first_name %></td>
              <td><%= @team_member.last_name %></td>
              <td><%= @team_member.email %></td>
              <td>0<%= @team_member.mobile_number %></td>
              <td>
                <% if @team_member.admin %>
                  <i class="fas fa-check-circle"></i>
                <% else %>
                  <i class="fas fa-times-circle"></i>
                <% end %>
              </td>
              <td><%= @team_member.created %></td>
              <td><%= @team_member.last_update %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <% if @team_member.sign_in_count > 0 %>
    <section class="row">
      <div class="col mb-3">
        <h3>Team Member Sign In</h3>
        <div class="table-container">
          <table class="table table-dark table-striped">
            <thead>
              <th scope="col">Sign In Count</th>
              <th scope="col">Current Sign In</th>
              <th scope="col">Current Sign In IP</th>
              <th scope="col">Last Sign In</th>
              <th scope="col">Last Sign In IP</th>
            </thead>
            <tbody>
              <tr>
                <td><%= @team_member.sign_in_count %></td>
                <td><%= @team_member.current_sign_in %></td>
                <td><%= @team_member.current_sign_in_ip %></td>
                <td><%= @team_member.last_sign_in %></td>
                <td><%= @team_member.last_sign_in_ip %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  <% end %>
</main>