<main class="container edit team-members affirmations">
  <section class="row">
    <div class="col">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h3>Edit Daily Affirmation</h3>
              <%= form_with model: @affirmation, url: affirmation_path(@affirmation) do |f| %>
                <div class="form-floating">
                  <%= f.text_area :text, class: 'form-control', required: true %>
                  <%= f.label :text %>
                </div>
                <div class="form-floating">
                  <%= f.date_field :scheduled_date, min: Date.today, class: 'form-control', required: true %>
                  <%= f.label :scheduled_date %>
                </div>
                <%= f.submit 'Update', class: 'btn btn-primary' %>
              <% end %>
              <%= link_to 'Remove', affirmation_path(@affirmation), method: :delete, class: 'btn btn-sm btn-danger',
                          data: { confirm: 'This will delete the affirmation. Are you sure?' } %>
            </div>
          </div>
        </div>
    </div>
  </section>
</main>
