<main class="container user">
  <div class="row m-1 mt-3">
    <div class="col">
      <%= link_to authenticated_user_root_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Dashboard
      <% end %>
    </div>
  </div>
  <section class="row pb-4" id="wellbeing">
    <div class="col-md-3 services">
      <h3>Your Services</h3>
      <div class="container mt-3">
        <% [*1..4].each do |i| %>
          <div class="row <%= (i > 1 ? 'mt-2' : '') %>">
            <div class="col">
              <%= link_to "Service #{i}", '#', class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
        <div class="row mt-2">
          <div class="col">
            <%= link_to "View Last Wellbeing Assessment", wellbeing_assessments_path(@last_wellbeing_assessment),
                        class: 'btn btn-secondary'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 chart">
      <h3>Your Wellbeing</h3>
      <div class="container mt-3">
        <div class="row">
          <div class="col">
            <canvas class="wellbeing-chart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 sliders">
      <h3>How are you today?</h3>
      <%= form_with model: @wellbeing_assessment, url: wellbeing_assessments_path, method: :post do |f| %>
        <div class="container mt-3">

          <% @wellbeing_metrics.each do |wellbeing_metric| %>
            <div class="row">
              <div class="col-12 col-md-5">
                <%= f.label "wellbeing_metric_#{wellbeing_metric.id}".to_sym, wellbeing_metric.name %>
              </div>
              <div class="col-9 col-md-5">
                <%= f.range_field "wellbeing_metric_#{wellbeing_metric.id}".to_sym, in: 1..10, class: 'form-range',
                                  value: last_score(@last_scores, wellbeing_metric.id) %>
              </div>
              <div class="col-3 col-md-2 description-col">
                <div class="description badge rounded-pill wba-score__<%= last_score(@last_scores, wellbeing_metric.id) %>"></div>
              </div>
            </div>
          <% end %>

          <div class="row">
            <div class="col">
              <%= f.submit 'Submit', class: 'btn btn-primary mt-2' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <%= javascript_pack_tag 'polar_area_chart' %>
</main>
