<main class="container team-members wellbeing-assessments new">
    <section class="row pb-0" id="wellbeing">
    <div class="col-12 col-xl-10">
      <%= render 'shared/wellbeing_chart/wrapper', wellbeing_assessment: @wellbeing_assessment,
                 chart_alignment: 'left',
                 chart_heading: 'How are you today?',
                 wellbeing_metrics: @wellbeing_metrics,
                 path: wellbeing_assessments_path,
                 last_scores: @last_scores,
                 height: '350' %>
    </div>
    <div class="col-12 col-xl-2 services mt-3 mt-md-5 pb-3">
      <h4>Your Services</h4>
      <div class="container wellbeing-services-list">
        <% @wellbeing_services.each_with_index do |service| %>
          <div class="row wellbeing-service" data-metrics="<%= service.metrics %>">
            <div class="col">
              <%= link_to service.name, service.website, class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
        <div class="row pt-2">
          <div class="col-12">
            <p>To see a list of all available services <%= link_to 'click here', wellbeing_services_path %></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= javascript_pack_tag 'wellbeing_assessment_chart' %>
<%= javascript_pack_tag 'wellbeing_service' %>
