<main class="container user">
  <section class="row back-btn mt-3">
    <div class="col">
      <%= link_to authenticated_user_root_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Dashboard
      <% end %>
    </div>
  </section>
  <section class="row pb-4" id="wellbeing">
    <div class="col-md-3 services">
      <h3>Your Services</h3>
      <div class="container mt-3">
        <% [*1..4].each do |i| %>
          <div class="row <%= (i > 1 ? 'mt-2' : '') %>">
            <div class="col">
              <%= link_to "Service #{i}", '#', class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
        <div class="row mt-2">
          <div class="col">
            <%= link_to "Add New Wellbeing Assessment", new_wellbeing_assessment_path, class: 'btn btn-outline-secondary' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 chart">
      <h3>Your Wellbeing</h3>
      <div class="container mt-3">
        <div class="row">
          <div class="col">
            <canvas class="wellbeing-chart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 sliders">
      <h3 class="mb-0">Recorded At</h3>
      <h5><%= @wellbeing_assessment.created %></h5>
      <div class="container mt-3">
        <% @wellbeing_assessment.wba_scores.includes(:wellbeing_metric).each do |score| %>
          <div class="row">
            <div class="col-9">
              <label for=<%= "wellbeing_metric_#{score.wellbeing_metric.id}" %>><%= score.wellbeing_metric.name %></label>
            </div>
            <input class="d-none" type="range" id="<%= "wellbeing_metric_#{score.wellbeing_metric.id}" %>"
                   value="<%= score.value %>">
            <div class="col-3 description-col">
              <div class="description badge rounded-pill wba-score__<%= score.value %>"></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>

<%= javascript_pack_tag 'polar_area_chart' %>