<main class="container user">
    <section class="row pb-4" id="wellbeing">
    <div class="col-12 col-md-3 services mt-3 mt-md-5 pb-3">
      <h3>Your Services</h3>
      <div class="container">
        <% [*1..4].each do |i| %>
          <div class="row <%= (i > 1 ? 'mt-2' : '') %>">
            <div class="col">
              <%= link_to "Service #{i}", '#', class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
        <div class="row mt-2">
          <div class="col">
            <%= link_to "Add New Wellbeing Assessment", new_wellbeing_assessment_path, class: 'btn btn-outline-secondary' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <%= render 'shared/wellbeing_chart/wrapper', wellbeing_assessment: @wellbeing_assessment,
                 chart_alignment: 'left', chart_heading: 'Your Wellbeing',
                 sliders_heading: 'Recorded At', show_timestamp: true %>
    </div>
  </section>
</main>

<%= javascript_pack_tag 'wellbeing_assessment_chart' %>