<main class="container user wellbeing-assessments show">
    <section class="row pb-4" id="wellbeing">
    <div class="col-md-9">
      <%= render 'shared/wellbeing_chart/wrapper', wellbeing_assessment: @wellbeing_assessment,
                 chart_alignment: 'left', chart_heading: 'Your Wellbeing', show_timestamp: true %>
    </div>
    <div class="col-12 col-md-3 services mt-3 mt-md-5 pb-3">
      <h3>Your Services</h3>
      <div class="container wellbeing-services-list">
        <% @wellbeing_services.each_with_index do |service| %>
          <div class="row wellbeing-service" data-metrics="<%= service.metrics %>">
            <div class="col-12">
              <%= link_to service.name, service.website, class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
        <div class="row pt-2">
          <div class="col-12">
            <p>To see a list of all available services <%= link_to 'click here', wellbeing_services_path %></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= javascript_pack_tag 'wellbeing_assessment_chart' %>
<%= javascript_pack_tag 'wellbeing_service' %>