<main class="container user diary-entry new">
  <section class="row mx-auto new-diary-section">
    <div class="col">
      <div class="container p-0">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-3">New Diary Entry</h2>
          </div>
          <%= form_with model: @diary_entry do |f| %>
            <div class="col-12">
              <div class="form-floating mb-4">
                <%= f.text_area :entry, class: 'form-control', pattern: '^[a-zA-Z0-9_,.@\' ]*$' %>
                <%= f.label :entry, 'New Diary Entry' %>
                <p class="actual-error-message" >
                  <% @diary_entry.errors[:entry].each do |err| %>
                    <%= err %>
                  <% end %>
                </p>
              </div>
            </div>
            <div class="col-12">
              <%= f.hidden_field :feeling %>
              <div class="container p-0" id="emojis">
                <div class="row mx-0 g-2">
                  <!-- ðŸ¥³,â˜ºï¸,ðŸ˜”,ðŸ˜¡,ðŸ’©,ðŸ˜ -->
                  <% %w[1F973 1F60A 1F614 1F620 1F4A9 1F610].each_with_index do |unicode, index| %>
                    <div class="col">
                      <input class="btn-check" type="radio" value="&#x<%= unicode %>;" name="diary_entry[feeling]" id="diary_feeling_id_<%= index %>">
                      <label class="btn btn-outline-primary w-100" for="diary_feeling_id_<%= index %>">&#x<%= unicode %>;</label>
                    </div>
                  <% end %>
                  <p class="actual-error-message" >
                    <% @diary_entry.errors[:feeling].each do |err| %>
                      <%= err %>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3 text-center">
              <%= f.submit 'Submit', class: 'btn btn-primary mt-2' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>