<main class="container team-members journal_entry">
  <div class="row m-1 mt-3">
    <div class="col">
      <%= link_to :back, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Back
      <% end %>
    </div>
  </div>
  <section class="row">
    <div class="col">
      <h3 class="mb-3">Journal Entry</h3>
      <h5 class="mb-3"><%= link_to "#{@journal_entry.user.first_name} #{@journal_entry.user.last_name}", user_path(@journal_entry.user) %>
        created this entry <%= time_ago_in_words(@journal_entry.created_at) %> ago</h5>
      <div class="card mb-3">
        <div class="card-header">
          <span><%= @journal_entry.feeling %></span>
          <span><strong>Created At:</strong> <%= @journal_entry.created %></span>
        </div>
        <div class="form-floating">
          <textarea class="form-control" id="journal_entry" disabled><%= @journal_entry.entry %></textarea>
          <label for="journal_entry">Journal Entry</label>
        </div>
      </div>
    </div>
  </section>
</main>
