<main class="container team-members journal-entry">
  <%= render 'shared/back_btn', path: :back, text: 'Back' %>
  <section class="row">
    <div class="col">
      <h3 class="mb-3">Journal Entry</h3>
      <h5 class="mb-3"><%= link_to "#{@journal_entry.user.full_name}", user_path(@journal_entry.user) %>
        created this entry <%= time_ago_in_words(@journal_entry.created_at) %> ago</h5>
      <div class="card mb-3">
        <div class="card-header">
          <span><%= @journal_entry.feeling %></span>
          <span><strong>Created At:</strong> <%= @journal_entry.created %></span>
        </div>
        <div class="journal-text text-dark p-1">
          <%= simple_format(@journal_entry.entry) %>
        </div>
      </div>
    </div>
  </section>
</main>
