<main class="container user journal-entry index">
  <%= render 'shared/back_btn', path: dashboard_journal_entries_path, text: 'Journal',
             query_path: journal_entries_path %>
  <section class="row">
    <div class="container">
      <div class="row justify-content-end">
        <%= render 'shared/search' %>
      </div>
      <div class="row">
        <h2 class="mb-3">Archive</h2>
        <%= render 'shared/search_results', query: params[:query], count: @count %>
      </div>
      <%= render 'shared/limit', resources_per_page: @resources_per_page %>
      <div class="row">
        <% @resources.each do |journal_entry| %>
          <div class="col-12 col-md-4">
            <div class="card mb-3">
              <div class="card-header">
                <span><%= journal_entry.feeling %></span>
                <span><%= journal_entry.created %></span>
              </div>
              <div class="journal-text text-dark p-1">
                <%= simple_format(journal_entry.entry) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <%= render 'shared/pagination_controls', page: @page, final_page: @final_page, last_page?: @last_page,
             first_page: journal_entries_path(page: 1, limit: params[:limit]),
             next_page: journal_entries_path(page: @page + 1, limit: params[:limit]),
             previous_page: journal_entries_path(page: @page - 1, limit: params[:limit]),
             final_page_path: journal_entries_path(page: @final_page, limit: params[:limit]) %>
</main>