<main class="container user journal-entry index">
  <div class="row m-1 mt-3">
    <div class="col">
      <%= link_to dashboard_journal_entries_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Journal
      <% end %>
    </div>
  </div>
  <section class="container">
    <div class="row">
      <h2 class="mb-3">Archive</h2>
    </div>
    <div class="row">
      <% @resources.each_with_index do |journal_entry, index| %>
        <div class="col-12 col-md-4">
          <div class="card mb-3">
            <div class="card-header">
              <span><%= journal_entry.feeling %></span>
              <span><%= journal_entry.created %></span>
            </div>
            <div class="journal-text text-dark p-1">
              <%= simple_format(journal_entry.entry) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row pagination_controls">
      <div class="col">
        <% unless @page == 1 %>
          <%= link_to 'Previous', pages_journal_entries_path(@page - 1), class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="col">
        <% unless @last_page %>
          <%= link_to 'Next', pages_journal_entries_path(@page + 1), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </section>
</main>