<main class="container user dashboard">
  <section class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-3">Archive</h2>
          </div>
          <% @journal_entries.each_with_index do |journal_entry, index| %>
            <div class="col-4">
              <div class="card mb-3">
                <div class="card-header">
                  <span style="float: left"><%= journal_entry.feeling %></span>
                  <span class="text-dark" style="float: right"><%= journal_entry.created %></span>
                </div>
                <div class="form-floating">
                  <textarea class="form-control" id="journal_entry_<%= index %>" style="height: 150px; border: none" disabled><%= journal_entry.entry %></textarea>
                  <label class="text-dark" for="journal_entry_<%= index %>">Dear Diary,</label>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>