<main class="container user journal-entry index">
  <%= render 'shared/back_btn' %>
  <section class="row">
    <div class="col">
        <h2>Journal Entries</h2>
        <p>
          You have penned <%= @resources.count %> journals.
          <%= @entries_in_last_30_days %> in the last month.
          Your most recent was <%= "test" %> days ago.
        </p>
        <p>
          If you're ready to add another entry, click the 'new entry' button or you can view your previous entries.
        </p>
      </div>
  </section>
  <div class="container header-buttons one">
        <div class="row">
          <%= link_to new_journal_entry_path, class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-book-medical"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">New Entry</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  <section class="row">
    <div class="container">
      <div class="row justify-content-end">
        <%= render 'shared/search' %>
      </div>
      <div class="row">
        <h3 class="mb-3">Archive</h3>
        <%= render 'shared/search_results' %>
      </div>
      <div class="row">
        <div class="col-auto mr-auto">
          <%= link_to new_journal_entry_path, class: 'btn btn-success' do %>
            <i class="fas fa-plus-circle"></i> New Entry 
          <% end %>
        </div>
        <div class="col">
          <%= render 'shared/limit' %>
        </div>
      </div>
      <div class="row">
        <% @resources.each do |journal_entry| %>
          <div class="col-12 col-md-4">
            <div class="card mb-3">
              <div class="card-header">
                <span><%= journal_entry.feeling %></span>
                <span><%= journal_entry.created %></span>
              </div>
              <div class="journal-text text-dark p-1">
                <%= simple_format(journal_entry.entry) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <%= render 'shared/pagination_controls', index: 'journal_entries' %>
</main>