<main class="container user journal-entry index">
  <div class="row m-1 mt-3">
    <div class="col">
      <%= link_to dashboard_journal_entries_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Journal
      <% end %>
    </div>
  </div>
  <section class="container">
    <div class="row">
      <h2 class="mb-3">Archive</h2>
    </div>
    <div class="row">
      <% @resources.each do |journal_entry| %>
        <div class="col-12 col-md-4">
          <div class="card mb-3">
            <div class="card-header">
              <span><%= journal_entry.feeling %></span>
              <span><%= journal_entry.created %></span>
            </div>
            <div class="journal-text text-dark p-1">
              <%= simple_format(journal_entry.entry) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <%= render 'shared/pagination_controls', page: @page, final_page: @final_page, last_page?: @last_page,
                 first_page: journal_entries_path(page: 1),
                 next_page: journal_entries_path(page: @page + 1),
                 previous_page: journal_entries_path(page: @page - 1),
                 final_page_path: journal_entries_path(page: @final_page) %>
    </div>
  </section>
</main>