<main class="container user dashboard" style="max-width: 550px">
  <section class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-3">New Journal Entry</h2>
          </div>
          <%= form_with model: @journal_entry do |f| %>
            <div class="col-12">
              <div class="form-floating mb-4">
                <%= f.text_area :entry, class: 'form-control', style: 'height: 150px' %>
                <%= f.label :entry, 'Dear Diary,', class: 'text-dark' %>
              </div>
            </div>
            <div class="col-12">
              <%= f.hidden_field :feeling %>
              <div class="container p-0" id="emojis">
                <div class="row g-2">
                  <!-- â˜ºï¸,ðŸ˜”,ðŸ˜¡,ðŸ’©,ðŸ˜ -->
                  <% %w[1F60A 1F614 1F620 1F4A9 1F610].each_with_index do |unicode, index| %>
                    <div class="col">
                      <input class="btn-check" type="radio" value="&#x<%= unicode %>;" name="journal_entry[feeling]" id="journal_feeling_id_<%= index %>">
                      <label class="btn btn-outline-primary w-100" for="journal_feeling_id_<%= index %>">&#x<%= unicode %>;</label>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-12 text-center">
              <%= f.submit 'Submit', class: 'btn btn-primary mt-2' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>