<div class="modal fade" id="journalEntriesModal" tabindex="-1" aria-labelledby="journalEntriesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="journalEntriesModalLabel">Archive</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <% @journal_entries.each_with_index do |journal_entry, index| %>
            <div class="card mb-3">
              <div class="card-header">
                <span><%= journal_entry.feeling %></span>
                <span style="float: right"><%= journal_entry.created %></span>
              </div>
              <div class="form-floating">
                <textarea class="form-control" id="journal_entry_<%= index %>" disabled><%= journal_entry.entry %></textarea>
                <label for="journal_entry_<%= index %>">Dear Diary,</label>
              </div>
            </div>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</div>
