<main class="container dashboard">
  <section class="row">
    <div class="col mb-3">
      <h2 class="mb-3">Dashboard</h2>
      <div class="container buttons">
        <div class="row">
          <%= link_to '#staff', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-users"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Staff</div>
              </div>
            </div>
          <% end %>
          <%= link_to '#users', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-user"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Users</div>
              </div>
            </div>
          <% end %>
          <%= link_to '/', class: 'col d-flex align-items-center btn' do %>
            <div class="container">
              <div class="row">
                <div class="col">
                  <i class="mb-1 fas fa-chart-line"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">Analytics</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <% if current_team_member.admin? %>
    <% if TeamMember.all.where(approved: false).count > 0 %>
      <section class="row" id="awaiting_approval">
        <div class="col">
          <h3>Awaiting Approval</h3>
          <table class="table table-dark table-striped align-middle">
            <thead>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Email</th>
              <th scope="col">Last Sign In Attempt</th>
              <th scope="col"></th>
            </thead>
            <tbody>
            <% TeamMember.all.where(approved: false).each do |team_member| %>
              <tr>
                <td><%= team_member.first_name %></td>
                <td><%= team_member.last_name %></td>
                <td><%= team_member.email %></td>
                <td><%= team_member.last_sign_in_at %></td>
                <td>
                  <%= form_with url: approve_team_member_path(team_member.id), method: :put do |form| %>
                    <%= form.hidden_field :team_member_id, value: team_member.id %>
                    <%= form.submit 'Approve', class: 'btn btn-primary' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </section>
    <% end %>
    <section class="row" id="staff">
      <div class="col">
        <h3>Staff</h3>
        <table class="table table-dark table-striped align-middle">
          <thead>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Admin</th>
            <th scope="col">Last Sign In</th>
          </thead>
          <tbody>
            <% TeamMember.all.where(approved: true).order(:id).each do |team_member| %>
              <tr>
                <td><%= team_member.first_name %></td>
                <td><%= team_member.last_name %></td>
                <td><%= team_member.email %></td>
                <td>
                  <% if current_team_member.admin? and current_team_member.id != team_member.id %>
                    <%= form_with url: toggle_admin_path(team_member.id), method: :put do |form| %>
                      <%= form.hidden_field :team_member_id, value: team_member.id %>
                      <%= button_to '', { action: 'submit', class: 'btn w-100'} do %>
                        <% if team_member.admin %>
                          <i class="fas fa-check-circle"></i>
                        <% else %>
                          <i class="fas fa-times-circle"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% if team_member.admin %>
                      <i class="fas fa-check-circle"></i>
                    <% else %>
                      <i class="fas fa-times-circle"></i>
                    <% end %>
                  <% end %>
                </td>
                <td><%= team_member.last_sign_in_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  <% end %>
  <section class="row" id="users">
    <div class="col">
      <h3>User</h3>
      <table class="table table-dark table-striped">
        <thead>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Release Date</th>
          <th scope="col">Email</th>
          <th scope="col">Last Login</th>
        </thead>
        <tbody>
          <% User.all.each do |user| %>
            <tr>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td>
                <% if user.release_date %>
                  <%= user.release_date %>
                <% else %>
                  Unknown
                <% end %>
              </td>
              <td><%= user.email %></td>
              <td><%= user.last_sign_in_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</main>