<main class="container team-members">
  <section class="row">
    <div class="col mb-3">
      <h3>Dashboard</h3>
      <div class="container header-buttons">
        <div class="row">
          <% if @admin %>
            <%= render 'shared/dashboard_btn', path: team_members_path, icon: 'fa-users', text: 'Team Members' %>
          <% end %>

          <%= render 'shared/dashboard_btn', path: users_path, icon: 'fa-user', text: 'Users' %>
          <%= render 'shared/dashboard_btn', path: '#', icon: 'fa-chart-line', text: 'Analytics' %>

          <% unless @admin %>
            <%= render 'shared/dashboard_btn', path: active_crisis_events_path, icon: 'fa-exclamation-circle',
                       text: 'Crisis Events' %>
          <% end %>
        </div>
        <div class="row">
          <% if @admin  %>
            <%= render 'shared/dashboard_btn', path: active_crisis_events_path, icon: 'fa-exclamation-circle',
                       text: 'Crisis Events' %>
          <% end %>

            <%= render 'shared/dashboard_btn', path: journal_entries_path, icon: 'fa-book-open',
                       text: 'Journal Entries' %>
            <%= render 'shared/dashboard_btn', path: wellbeing_assessments_path, icon: 'fa-heart',
                       large_text: 'Wellbeing Assessments', text: 'WBA' %>

          <% unless @admin %>
            <a class="col clear d-flex align-items-center"></a>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>
