<main class="container user guide">
  <section class="row journey">
    <div class="col mb-3">
      <div class="row">
        <div class="col text-start">
          <%= link_to root_path, class: 'btn btn-primary' do %>
            <i class="fas fa-arrow-circle-left"></i> Back to app
          <% end %>
        </div>
      </div>
      <h2 class="mb-3">Appointments Guide</h2>
      <p>Appointments are used to remind you of upcoming events or meetings. You can use this to keep on track of when
      important events are. You can also set past appointments as attended or not.</p>
    </div>
    <hr>
    <%= image_tag ("guide/appointments1.png") %>
    <hr>
    <%= image_tag ("guide/appointments2.png") %>
    <hr>
    <%= image_tag ("guide/appointmentsNew.png") %>
    <hr>
    <%= image_tag ("guide/appointmentsPast.png") %>
    </div>
  </section>
</main>