<main class="container user guide">
  <section class="row journey">
    <div class="col mb-3">
      <div class="row">
        <div class="col text-start">
          <%= link_to root_path, class: 'btn btn-primary' do %>
            <i class="fas fa-arrow-circle-left"></i> Back to app
          <% end %>
        </div>
      </div>
      <h2 class="mb-0">Goals Guide</h2>
      <p>Goals is a section where you can track any long term or short term goals. This can be used to set targets for
        anything you like. When goals are reached, you can set then set them as complete .</p>
    </div>
    <hr>
    <%= image_tag ("guide/goals.png") %>
    <hr>
    <%= image_tag ("guide/goalsMenu.png") %>
    <hr>
    <%= image_tag ("guide/goalscomplete.png") %>
    <hr>
    <%= image_tag ("guide/archive.png") %>
    </div>
  </section>
</main>