<div class="col-12 col-md-6 mb-3">
  <div class="card <%= user.deleted ? 'deleted' : '' %>">
    <div class="card-header">
      <span>
        <%= link_to user_path(user) do %>
          <%= user.full_name %>
          <small><%= user.pronouns.to_s.downcase %></small>
          <i class="fas fa-external-link-alt"></i>
        <% end %>
      </span>
      <span>
        <% if pinned %>
          <% unless first %>
            <%= link_to decrement_user_path(user), method: :put do %>
              <i class="fas fa-chevron-circle-left"></i>
            <% end %>
          <% end %>
          <% unless last %>
            <%= link_to increment_user_path(user), method: :put do %>
            <i class="fas fa-chevron-circle-right"></i>&nbsp;
            <% end %>
          <% end %>
          <%= link_to unpin_user_path(user), method: :put do %>
            <i class="fas fa-thumbtack"></i>
          <% end %>
        <% else %>
          <%= link_to pin_user_path(user), method: :put do %>
            <i class="fas fa-thumbtack unpinned"></i>
          <% end %>
        <% end %>
      </span>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="container mb-3 mb-md-0">
              <div class="row">
                <%= link_to "mailto:#{user.email}" do %>
                  <i class="fas fa-envelope"></i> <%= user.email %>
                <% end %>
              </div>
              <% if user.mobile_number.present? %>
                <div class="row">
                  <%= link_to "tel:0#{user.mobile_number}" do %>
                    <i class="fas fa-phone-alt"></i> <%= "0#{user.mobile_number}" %>
                  <% end %>
                </div>
              <% end %>
              <% if user.released_at.present? %>
                <div class="row">
                  <span><i class="fas fa-calendar"></i> Release: <%= user.release_date %></span>
                </div>
              <% end %>
              <% unread_diary_entries = current_team_member.unread_diary_entries(user) %>
              <% unless unread_diary_entries.zero? %>
                <div class="row">
                  <%= link_to diary_entries_path(query: user.full_name) do %>
                    <i class="fas fa-book-reader"></i> <%= unread_diary_entries %> unread diary entries
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <% last_wellbeing_assessment = user.last_wellbeing_assessment %>
          <div class="col-12 col-md-6 <%= last_wellbeing_assessment.present? ? 'wellbeing-chart-col' : '' %>">
            <% if last_wellbeing_assessment.present? %>
              <%= link_to wellbeing_assessment_path(last_wellbeing_assessment) do %>
                <%= render 'shared/wellbeing_chart/wrapper', hide_sliders: true,
                           wellbeing_assessment: last_wellbeing_assessment %>
                <div class="mt-2">
                  <%= last_wellbeing_assessment.created %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <span>Last Sign In</span>
      <span>
        <%= user.current_sign_in_at.present? ? "#{time_ago_in_words(user.current_sign_in_at)} ago" : "Never" %>
      </span>
    </div>
  </div>
</div>