<div class="col-12 col-md-6 mb-3">
  <% active_crisis_events = user.crisis_events.active %>
  <div class="card <%= active_crisis_events.empty? ? '' : 'has-crisis' %>">
    <div class="card-header">
      <span>
        <%= link_to user_path(user) do %>
          <%= user.full_name %> <i class="fas fa-external-link-alt"></i>
        <% end %>
      </span>
      <span>
        <% if pinned %>
          <% unless first %>
            <%= link_to decrement_user_path(user), method: :put do %>
              <i class="fas fa-chevron-circle-left"></i>
            <% end %>
          <% end %>
          <% unless last %>
            <%= link_to increment_user_path(user), method: :put do %>
            <i class="fas fa-chevron-circle-right"></i>&nbsp;
            <% end %>
          <% end %>
          <%= link_to unpin_user_path(user), method: :put do %>
            <i class="fas fa-thumbtack"></i>
          <% end %>
        <% else %>
          <%= link_to pin_user_path(user), method: :put do %>
            <i class="fas fa-thumbtack unpinned"></i>
          <% end %>
        <% end %>
      </span>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="container mb-3 mb-md-0">
              <div class="row">
                <%= link_to "mailto:#{user.email}" do %>
                  <i class="fas fa-envelope"></i> <%= user.email %>
                <% end %>
              </div>
              <div class="row">
                <%= link_to "tel:0#{user.mobile_number}" do %>
                  <i class="fas fa-phone-alt"></i> <%= "0#{user.mobile_number}" %>
                <% end %>
              </div>
              <% if user.release_date.present? %>
                <div class="row">
                  <span><i class="fas fa-calendar"></i> Release: <%= user.release %></span>
                </div>
              <% end %>
              <% unread_journal_entries = current_team_member.unread_journal_entries(user) %>
              <% unless unread_journal_entries.zero? %>
                <div class="row">
                  <%= link_to '#' do %>
                    <i class="fas fa-book-reader"></i> <%= unread_journal_entries %> unread journal entries
                  <% end %>
                </div>
              <% end %>
              <% unless active_crisis_events.empty? %>
                <div class="row">
                  <%= link_to active_crisis_events_path do %>
                    <i class="fas fa-exclamation-circle"></i> <%= active_crisis_events.count %> active crisis events
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-12 col-md-6 wellbeing-chart-col">
            <% last_wellbeing_assessment = user.last_wellbeing_assessment %>
            <% if last_wellbeing_assessment.present? %>
              <%= link_to new_user_wellbeing_assessment_path(user) do %>
                <%= render 'shared/wellbeing_chart/wrapper', hide_sliders: true,
                           wellbeing_assessment: last_wellbeing_assessment %>
                <div class="mt-2">
                  <%= last_wellbeing_assessment.created %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <span>Last Sign In</span>
      <span>
        <%= user.last_sign_in_at.present? ? "#{time_ago_in_words(user.last_sign_in_at)} ago" : user.last_sign_in %>
      </span>
    </div>
  </div>
</div>