<div class="row">
    <div class="col-12 mb-4">
        <div class="card h-100">
        <div class="card-header d-flex">
            <h3 class="me-auto align-self-center" >Occupational Therapist Scores</h3>
        </div>
        <div class="card-body bg-transparent h-100" id="summary-panel-card">
            <% if user.occupational_therapist_scores.nil? %>
            <p><%= user.first_name %> currently has no occupational therapist scores.</p>
            <% else %>
            <div class="border mx-3">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Date</th>
                        <th scope="col">OT Score 1</th>
                        <th scope="col">OT Score 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td><%= Date.today%></td>
                            <td>100</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><%= 5.weeks.ago%></td>
                            <td>300</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td ><%= 7.months.ago%></td>
                            <td>556</td>
                            <td>697</td>
                        </tr>
                        <% if true %> <!-- Check a condition to determine if the row should be a form -->
                            <%= form_with model: @item do |f| %>
                                <tr>
                                <th scope="row"><%= user.old_occupational_therapist_scores.count + 1 %></th>
                                <td><%= f.text_field :score_1 %></td>
                                <td><%= f.text_field :score_2 %></td>
                                <td><%= f.submit 'Save New Scores', class: 'btn btn-primary' %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <% end %>
        </div>
        </div>
    </div>
</div>