<main class="container team-members users index">
  <div class="row m-1 mt-3">
    <div class="col">
      <%= link_to authenticated_team_member_root_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Dashboard
      <% end %>
    </div>
  </div>
  <section class="row">
    <div class="col">
      <h3>Users Info</h3>
      <div class="container p-0">
        <div class="row mb-3">
          <div class="col-12 col-md-4 mb-3 mb-md-0">
            <div class="input-group">
              <span class="input-group-text" id="total-users">Total Users</span>
              <input type="text" class="form-control" aria-label="Total Users" aria-describedby="total-users"
              value="<%= @users.count %>" disabled>
              <span class="input-group-text"><i class="fas fa-users"></i></span>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-3 mb-md-0">
            <div class="input-group">
              <span class="input-group-text" id="active-users">Active Users</span>
              <input type="text" class="form-control" aria-label="Active Users" aria-describedby="active-users"
              value="<%= @active_users.count %>" disabled>
              <span class="input-group-text"><i class="fas fa-users"></i></span>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <form id='search'>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Users" aria-label="User Search"
                       aria-describedby="user-search">
                <span class="input-group-text" id="user-search"><i class="fas fa-search"></i></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col">
      <h3>Pinned Users</h3>
      <div class="container p-0">
        <div class="row">
          <% @pinned_users.each do |user| %>
            <%= render 'card', user: user %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col">
      <h3>All Users</h3>
      <div class="container p-0">
        <div class="row">
          <% @users.each do |user| %>
            <%= render 'card', user: user %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>

<%= javascript_pack_tag 'polar_area_chart' %>
