<main class="container team-members users index">
  <%= render 'shared/back_btn', path: authenticated_team_member_root_path, text: 'Dashboard',
             query_path: users_path %>
  <section class="row">
    <div class="col">
      <h3>Users Info</h3>
      <div class="container p-0">
        <div class="row mb-3">
          <div class="col-12 col-md-4 mb-3 mb-md-0">
            <div class="input-group">
              <span class="input-group-text" id="total-users">Total Users</span>
              <input type="text" class="form-control" aria-label="Total Users" aria-describedby="total-users"
              value="<%= @user_count %>" disabled>
              <span class="input-group-text"><i class="fas fa-users"></i></span>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-3 mb-md-0">
            <div class="input-group">
              <span class="input-group-text" id="active-users">Active Users</span>
              <input type="text" class="form-control" aria-label="Active Users" aria-describedby="active-users"
              value="<%= @active_users %>" disabled>
              <span class="input-group-text"><i class="fas fa-users"></i></span>
            </div>
          </div>
          <%= render 'shared/search' %>
        </div>
      </div>
    </div>
  </section>
  <% unless @query.present? %>
    <section class="row">
      <div class="col">
        <h3>Pinned Users</h3>
        <div class="container p-0">
          <div class="row">
            <% @pinned_users.each_with_index do |user, index| %>
              <%= render 'card', user: user, pinned: true, first: index == 0, last: index == @pinned_users.count - 1 %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
  <section class="row" id="users">
    <div class="col">
      <h3><%= @query.present? ? '' : 'All' %> users</h3>
      <%= render 'shared/search_results', query: params[:query], count: @count %>
      <div class="container p-0">
        <%= render 'shared/limit', multiple: @multiple %>
        <div class="row">
          <% @resources.each do |user| %>
            <%= render 'card', user: user, pinned: false %>
          <% end %>
        </div>
      </div>
    </div>
      <%= render 'shared/pagination_controls', page: @page, final_page: @final_page, last_page?: @last_page,
                 first_page: users_path(page: 1, anchor: 'users', query: params[:query], limit: params[:limit]),
                 next_page: users_path(page: @page + 1, anchor: 'users', query: params[:query], limit: params[:limit]),
                 previous_page: users_path(page: @page - 1, anchor: 'users', query: params[:query], limit: params[:limit]),
                 final_page_path: users_path(page: @final_page, anchor: 'users', query: params[:query], limit: params[:limit]) %>
  </section>
</main>

<%= javascript_pack_tag 'polar_area_chart' %>
