<%= render 'layouts/searchable', class_list: 'team-members users', header: 'Users', index: 'users',
           new_btn: ENV['ORGANISATION_NAME'] == 'wallich-journey' ? render(partial: 'shared/new_btn', locals: { path: new_users_path, text: 'New User' }) : nil ,stats: render(partial: 'stats'), search: render(partial: 'shared/users/search') do %>
  <%= render 'sort_bar' %>
  <div class="container p-0">
    <% unless @query.present? || @pinned_users.count.zero? %>
      <div class="row">
        <div class="col">
          <h4>Pinned</h4>
          <div class="container p-0">
            <div class="row">
              <% @pinned_users.each_with_index do |user, index| %>
                <%= render 'card', user: user, pinned: true, first: index == 0, last: index == @pinned_users.count - 1 %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
    <div class="row" id="users">
      <% @resources.each do |user| %>
        <%= render 'card', user: user, pinned: false %>
      <% end %>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'wellbeing_assessment_chart' %>
