<main class="container team_members">
  <div class="row m-1 mt-3">
    <div class="col">
      <%= link_to authenticated_team_member_root_path, class: 'btn btn-primary' do %>
        <i class="fas fa-arrow-circle-left"></i> Dashboard
      <% end %>
    </div>
  </div>
  <section class="row" id="users">
    <div class="col">
      <h3>Users</h3>
      <div class="table-container">
        <table class="table table-dark table-striped table-hover link-table">
          <thead>
          <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Release Date</th>
            <th scope="col">Email</th>
            <th scope="col">Last Sign In</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user) do %>
                  <%= user.first_name %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user) do %>
                  <%= user.last_name %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user) do %>
                  <%= user.release %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user) do %>
                  <%= user.email %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user) do %>
                  <%= user.last_sign_in %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>