<main class="container team-members users show">
  <%= render 'shared/back_btn', path: :back, text: 'Back' %>
  <div class="row">
    <div class="col-12 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h3><%= @user.full_name %></h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="container mb-md-0">
                <div class="row font-weight-link">
                  <%= @user.full_name %>
                </div>
                <div class="row">
                  <%= link_to "mailto:#{@user.email}" do %>
                    <i class="fas fa-envelope"></i> <%= @user.email %>
                  <% end %>
                </div>
                <div class="row">
                  <%= link_to "tel:0#{@user.mobile_number}" do %>
                    <i class="fas fa-phone-alt"></i> <%= "0#{@user.mobile_number}" %>
                  <% end %>
                </div>
                <div class="row">
                  <span><i class="fas fa-calendar"></i> Release: <%= @user.release %></span>
                </div>
                <% unless @unread_journal_entries.zero? %>
                  <div class="row">
                    <%= link_to '#journal' do %>
                      <i class="fas fa-book-reader"></i> <%= @unread_journal_entries %> unread journal entries
                    <% end %>
                  </div>
                <% end %>
                <% unless @active_crisis.empty? %>
                  <div class="row">
                    <%= link_to active_crisis_events_path do %>
                      <i class="fas fa-exclamation-circle"></i> <%= @active_crisis.count %> active crisis
                      events
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <span>Last Sign In</span>
          <span>
            <%= @user.current_sign_in_at.present? ? "#{time_ago_in_words(@user.current_sign_in_at)} ago from #{@location["city"]}" : "Never" %>
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
      <% if @active_crisis.empty? %>
        <div class="card h-100 border-0">
          <div class="card-header bg-success">
            <h3>SOS status: none <i class="fa fa-check-circle"></i></h3>
          </div>
          <div class="card-body text-start">
            <p class="text-start">
              This user has no active Crisis Events. Any active Crisis Events will be displayed here.
            </p>
          </div>
        </div>
      <% else %>
        <div class="card h-100 has-crisis border-0">
          <div class="card-header bg-danger">
            <h3>SOS status:
              <span class="h3 pb-0">Crisis </span><i class="fas fa-exclamation-triangle"></i>
            </h3>
          </div>
          <div class="card-body">
            <p><span class="h5">When? </span><%= @active_crisis.first.created %></p>
            <p><span class="h5">Type? </span> <%= @active_crisis.first.crisis_type.category %></p>
            <p><span class="h5">Info: </span> <%= @active_crisis.first.additional_info %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <% if @wellbeing_assessment.present? %>
                <%= render 'shared/wellbeing_chart/wrapper', chart_alignment: 'left', height: '250',
                           show_timestamp: true, chart_heading: "#{@wellbeing_assessment.user.full_name}'s Wellbeing",
                           sliders_heading: 'Recorded At', wellbeing_assessment: @wellbeing_assessment %>
              <% end %>
              <div class="text-center">
                <%= link_to "View All User's Wellbeing Assessments", user_wellbeing_assessments_path(@user), class: "btn btn-primary btn-sm" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="journal">
    <div class="col-12 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h3>Journal</h3>
        </div>
        <div class="card-body">
          <% if @journal_entries.present? %>
            <span><%= @user.first_name %> has written
              <%= link_to "#{@journal_entries.count} entries", journal_entries_path(query: @user.full_name) %>
              in total of which <%= @unread_journal_entries %> are unread
            </span>
            <h5 class="pt-3">Latest entries</h5>
            <% recent_entries = @journal_entries.last(5) %>
            <div class="col-12 table-container">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th class="border-0" scope="col">Feeling</th>
                  <th class="border-0" scope="col">Time & date</th>
                  <th class="border-0" scope="col">Viewed</th>
                </tr>
                </thead>
                <tbody>
                <% recent_entries.each do |journal_entry| %>
                  <tr>
                    <td class="h3 border-0">
                      <%= link_to "#{journal_entry.feeling}", journal_entry_path(journal_entry), class: 'feeling' %>
                    </td>
                    <td class="border-0">
                      <%= link_to "#{journal_entry.created}", journal_entry_path(journal_entry) %>
                    </td>
                    <td class="border-0">
                      <%= link_to journal_entry_path(journal_entry) do %>
                        <% if journal_entry.journal_entry_view_logs.empty? %>
                          <i class="fas fa-times-circle"></i>
                        <% else %>
                          <i class="fas fa-check-circle"></i>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          <% else %>
            <span>No journal entries have been written yet</span>
          <% end %>
        </div>
        <div class="card-footer text-center">
          <%= link_to "View User's Journal", journal_entries_path(query: @user.full_name), class: "btn btn-primary my-2 py-2 px-5" %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <h3>User Notes</h3>
        </div>
        <div class="card-body bg-transparent h-100" id="notes-card">
          <% if @user_notes.empty? %>
            <span>There are no notes on this user yet.</span>
          <% else %>
            <% @user_notes.each do |note| %>
              <% if note.replaced_by.nil? %>
                <%= render 'notes/card', note: note %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-success my-2 py-2 px-5" type="button" data-bs-toggle="modal" data-bs-target="#add-note-modal">
            Add Note
          </button>
          <%# is there a rails button_to/link_to way to replace this? %>
        </div>
      </div>
    </div>

    <%= render 'notes/add_modal' %>
    <%= render 'notes/edit_modal' %>

  </div>
</main>

<%= javascript_pack_tag 'wellbeing_assessment_chart' %>

