<main class="container team-members users show">
  <div id="user-info" class="row mt-3 mb-3">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
      <h1 class="text-center mb-0"><%= @user.full_name %></h1>
      <%= link_to edit_user_path(@user), class: 'edit-user-details' do %>
        <h4 class="text-center">Edit Details <i class="fas fa-edit"></i></h4>
      <% end %>
      <% if @user.pronouns.present? %>
        <h4 class="text-center"><%= @user.pronouns %></h4>
      <% end %>
      <p>
        <%= link_to "mailto:#{@user.email}" do %>
          <i class="fas fa-envelope"></i> <%= @user.email %>
        <% end %>
      </p>
      <% unless @user.deleted %>
        <p>
          <%= link_to "tel:0#{@user.mobile_number}" do %>
            <i class="fas fa-phone-alt"></i> <%= "0#{@user.mobile_number}" %>
          <% end %>
        </p>
      <% end %>
      <p>
        <% unless @unread_diary_entries.zero? %>
          <%= link_to diary_entries_path(query: @user.full_name) do %>
            <i class="fas fa-book-reader"></i> <%= @unread_diary_entries %> unread diary entries
          <% end %>
        <% end %>
      </p>
      <p>
        Last Sign
        In: <%= @user.current_sign_in_at.present? ? "#{time_ago_in_words(@user.current_sign_in_at)} ago from #{@location["city"]}" : "Never" %>
      </p>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <% if @wellbeing_assessment.present? %>
                <%= render 'shared/wellbeing_chart/wrapper', chart_alignment: 'left', height: '200',
                           show_timestamp: true, chart_heading: "Latest Wellbeing Assessment",
                           show_author: true, wellbeing_assessment: @wellbeing_assessment,
                           pyramid_view: true %>
              <% end %>
              <div class="text-center mt-2">
                <% unless @wellbeing_assessment.present? && @wellbeing_assessment.today? %>
                  <%= link_to 'New Wellbeing Assessment', new_user_wellbeing_assessment_path(@user), class: "btn btn-success py-2 px-5" %>
                <% end %>
                <% if @user.wellbeing_assessments.any? %>
                    <%= link_to "View All Wellbeing Assessments", user_wellbeing_assessments_path(@user), class: "btn btn-primary py-2 px-5" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @user.wellbeing_assessments.count > 1 %>
    <%= render 'wellbeing_history_chart', chart_heading: "#{@user.full_name}'s Wellbeing History" %>
  <% end %>
  <% unless @user.deleted %>
    <div class="row">
      <div class="col-12 mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h3>Pen Profile</h3>
            </div>
            <div class="card-body bg-transparent h-100" id="summary-panel-card">
              <% if @summary_panel.nil? %>
                <span>There is no information on this user yet.</span>
              <% else %>
                <%= @summary_panel %>
              <% end %>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-success my-2 py-2 px-5" type="button" data-bs-toggle="modal" data-bs-target="#summary-panel-modal">
                <% if @summary_panel.nil? %>
                  <%= "Add Pen Profile" %>
                <% else %>
                  <%= "Edit Pen Profile" %>
                <% end %>
              </button>
            </div>
          </div>
        </div>
        <%= render 'team_members/users/summary_panel/modal' %>
    </div>
    <div class="row" id="diary-appointments">
      <div class="col-12 col-lg-6 mb-4">
        <div id="diary-card" class="card h-100">
          <div class="card-header">
            <h3>Diary</h3>
          </div>
          <div class="card-body">
            <% if @diary_entries.present? %>
              <span><%= @user.first_name %> has written
                <%= link_to "#{@diary_entries.count} entries", diary_entries_path(query: @user.full_name) %>
                in total of which <%= @unread_diary_entries %> are unread
              </span>
              <h5 class="pt-3">Latest entries</h5>
              <% recent_entries = @diary_entries.last(10) %>
              <div class="col-12 table-container">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th class="border-0" scope="col">Feeling</th>
                    <th class="border-0" scope="col">Time & date</th>
                    <th class="border-0" scope="col">Viewed</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% recent_entries.each do |diary_entry| %>
                    <tr>
                      <td class="h3 border-0">
                        <%= link_to "#{diary_entry.feeling}", diary_entry_path(diary_entry), class: 'feeling' %>
                      </td>
                      <td class="border-0">
                        <%= link_to "#{diary_entry.created}", diary_entry_path(diary_entry) %>
                      </td>
                      <td class="border-0">
                        <%= link_to diary_entry_path(diary_entry) do %>
                          <% if diary_entry.diary_entry_view_logs.empty? %>
                            <i class="fas fa-times-circle"></i>
                          <% else %>
                            <i class="fas fa-check-circle"></i>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            <% else %>
              <span>No diary entries have been written yet</span>
            <% end %>
          </div>
          <div class="card-footer text-center">
            <%= link_to "View User's Diary", diary_entries_path(query: @user.full_name), class: "btn btn-primary my-2 py-2 px-5" %>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 mb-4">
        <div class="card h-100">
          <div class="card-header d-flex">
            <h3 class="me-auto align-self-center">Appointments</h3>
            <%= link_to 'Add Appointment', new_user_appointment_path(@user), class: 'btn  btn-primary py-2 px-3' %>
          </div>
          <div class="card-body">
            <div class="row">
              <p><%= @user.first_name %> has <%= @user.future_appointments.size %> upcoming appointments.</p>
              <div class="accordion" id="future-appointments-accordion">
                <% @appointments.first(5).each_with_index do |appointment, index| %>
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="heading-future-<%= index %>">
                      <button class="accordion-button collapsed bg-primary" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse-future-<%= index %>" aria-expanded="true" aria-controls="collapse-future-<%= index %>">
                        <%= appointment.time_on_date %>
                      </button>
                    </h3>
                    <div id="collapse-future-<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading-future-<%= index %>" data-bs-parent="#future-appointments-accordion">
                      <div class="accordion-body">
                        <p><i class="fas fa-calendar-day"></i> <%= appointment.what %></p>
                        <p><i class="fas fa-user"></i> <%= appointment.who_with %> </p>
                        <p><i class="fas fa-location-arrow"></i> <%= appointment.where %></p>
                        <p><i class="fas fa-clock"></i> <%= appointment.time_on_date %></p>
                        <p>
                          <i class="fas fa-hourglass-start"></i> <%= distance_of_time_in_words(appointment.start, appointment.end) %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="row pt-2">
              <p class="pt-1"><%= @user.first_name %> has had <%= @user.last_month_appointments.size %> appointments in
                the last month.</p>
              <div class="accordion" id="past-appointments-accordion">
                <% @appointments.last(5).each_with_index do |appointment, index| %>
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="heading-past-<%= index %>">
                      <button class="accordion-button collapsed bg-primary" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse-past-<%= index %>" aria-expanded="true" aria-controls="collapse-past-<%= index %>">
                        <span class="me-auto"><%= appointment.time_on_date %></span>

                        <span class="ms-auto btn disabled <%= appointment.attended ? 'btn-success btn-sm' : 'btn-danger btn-sm' %>">
                          <% if appointment.attended %>
                            <i class="fas fa-calendar-check"></i>
                          <% else %>
                            <i class="fas fa-calendar-times"></i>
                          <% end %>
                        </span>
                      </button>
                    </h3>
                    <div id="collapse-past-<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading-past-<%= index %>" data-bs-parent="#past-appointments-accordion">
                      <div class="accordion-body">
                        <p><i class="fas fa-calendar-day"></i> <%= appointment.what %></p>
                        <p><i class="fas fa-user"></i> <%= appointment.who_with %> </p>
                        <p><i class="fas fa-location-arrow"></i> <%= appointment.where %></p>
                        <p><i class="fas fa-clock"></i> <%= appointment.time_on_date %></p>
                        <p>
                          <i class="fas fa-hourglass-start"></i> <%= distance_of_time_in_words(appointment.start, appointment.end) %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>

            </div>
          </div>
          <div class="card-footer text-center">
            <%= link_to 'View All Appointments', user_appointments_path(@user), class: 'btn btn-primary my-2 py-2 px-5' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4" id="tags-notes">
      <div id="tags" class="col-12 col-lg-6 mb-3 mb-lg-0">
        <div class="card tags h-100">
          <div class="card-header">
            <h3>User Tags</h3>
          </div>
          <div class="card-body bg-transparent h-100" id="tags">
            <% if @user_tags.empty? %>
              <span>There are no tags on this user yet.</span>
              <div class="container">
                <div class="row">
                  <%= render 'tag', user_tag: @new_user_tag %>
                </div>
              </div>
            <% else %>
              <div class="container">
                <div class="row">
                  <%= render 'tag', user_tag: @new_user_tag %>
                  <% @user_tags.each do |user_tag| %>
                    <%= render 'tag', user_tag: user_tag %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-success my-2 py-2 px-5" type="button">
              Add Tag
            </button>
          </div>
        </div>
      </div>

      <%= javascript_pack_tag 'tags' %>

      <div class="col-12 col-lg-6">
        <div class="card h-100">
          <div class="card-header">
            <h3>User Notes</h3>
          </div>
          <div class="card-body bg-transparent h-100" id="notes-card">
            <% if @user_notes.empty? %>
              <span>There are no notes on this user yet.</span>
            <% else %>
              <% @user_notes.each do |note| %>
                <% unless note.replaced_by.present? %>
                  <%= render 'team_members/notes/card', note: note, user_member_page: true, current_note: false, edit: false %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-success my-2 py-2 px-5" type="button" data-bs-toggle="modal" data-bs-target="#note-modal">
              Add Note
            </button>
          </div>
        </div>
      </div>

      <%= render 'team_members/notes/modal', note: @note, action: "create", controller: "notes", user_id: params[:id] %>
    </div>

    <div class="row" id="contact-appointments">
      <div class="col-12 col-lg-6 mb-4">
        <div id="contact-card" class="card h-100">
          <div class="card-header">
            <h3>Contact Logs</h3>
          </div>
          <div class="card-body">
          <p><%= @user.first_name %> has <%= pluralize(@contact_logs.size, 'contact log') %>.</p>
          <p><%= @user.first_name %> has <%= pluralize(@contact_logs.last_week.size, 'contact log') %> in the last week.</p>
          <p><%= @user.first_name %> has <%= pluralize(@contact_logs.last_month.size, 'contact log') %> in the last month.</p>
          </div>
          <div class="card-footer text-center">
            <%= link_to "View User Contact Logs", recent_user_contact_logs_path(@user), class: "btn btn-primary my-2 py-2 px-5" %>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-4">
        <div class="card h-100">
          <div class="card-header">
            <h3>Goals</h3>
          </div>
          <div class="card-body" id="goals-card">
            <% if !@has_user_goals_permission %>
              <span><%= @user.first_name %> has not shared any goals with you.</span>
            <% elsif @goals.empty? %>
              <span><%= @user.first_name %> has no goals currently.</span>
            <% else %>
              <%= render 'goal_card.html', goals: @goals.short_term, type: "short", has_permission: @has_short_term_permissions %>
              <%= render 'goal_card.html', goals: @goals.long_term, type: "long", has_permission: @has_long_term_permissions %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-4">
          <div class="card h-100">
            <div class="card-header d-flex">
              <h3 class="me-auto align-self-center" >Files</h3>
              <%if @has_folders%>
                <%= link_to user_folders_path(@user), class: 'btn btn-primary py-2 px-3 me-3' do %>
                  <i class="fas fa-folder"></i> <%= "Folders" %>
                <% end %>
              <% else %>
                <button class="btn btn-primary py-2 px-3 me-3" type="button" data-bs-toggle="modal" data-bs-target="#folder-modal">
                  <i class="fas fa-folder"></i> Add Folder
                </button>
                <%= render 'shared/folders/modal', folder: @new_folder, url: user_folders_path(@user) ,action: "create", controller: "folders" %>
              <% end %>
              <!-- <%= link_to "Add Folder", new_user_upload_path(@user), class: "btn btn-primary py-2 px-3" %> -->

              <%= link_to "Add File", new_user_upload_path(@user), class: "btn btn-primary py-2 px-3" %>
            </div>
            <div class="card-body bg-transparent h-100" id="summary-panel-card">
              <% if @uploads.size.zero? %>
                <p><%= @user.first_name %> has no files at the moment.</p>
              <% else %>
                <p><%= @user.first_name %> has <%= pluralize(@uploads.size, 'file') %>.</p>
                <p><%= @user.first_name %> has <%= pluralize(@uploads.created_in_last_week.size, 'file') %> added in the last week.</p>
                <p><%= @user.first_name %> has <%= pluralize(@uploads.created_in_last_month.size, 'file') %> added in the last month.</p>
                <p><%= @user.first_name %> has <%= pluralize(@uploads.uploaded_by_teammember.size, 'file') %> added by team members.</p>
                <p><%= @user.first_name %> added <%= pluralize(@uploads.uploaded_by_user.size, 'file') %> themselves.</p>
                <p><%= @user.first_name %> has <%= pluralize(@uploads.pending.size, 'pending file') %>.</p>
                <p><%= "#{@user.first_name}'s" %> files consist of <%= pluralize(@uploads.pdf_files.size, 'PDF document') %> and <%= pluralize(@uploads.images.size, 'image') %>.</p>
              <% end %>
            </div>
            <div class="card-footer text-center">
              <%= link_to "View All Files", correct_uploads_path, class: "btn btn-success my-2 py-2 px-5" %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</main>

<%= javascript_pack_tag 'wellbeing_assessment_chart' %>

