<main class="container dashboard">
  <!-- User bio / details section -->
  <section class="row">
    <div class="col mb-3">
      <h2 class="mb-3">User</h2>
      <div class="container d-flex justify-content-between">
        <div class="col-4 d-flex flex-column">
          <i class="mb-1 h1 fas fa-user"></i>
          <span><%= @user.first_name + ' ' + @user.last_name %></span>
        </div>
        <div class="col-7 text-start">
          <p><strong>Last logged in:</strong><%= @user.last_sign_in_at %></p>
          <p><strong>Logged in from:</strong><%= @user_location %></p>
        </div>
      </div>
    </div>
  </section>

  <!-- SOS section -->
  <section class="row" id="awaiting_approval">
    <div class="col">
      <% if @user.crisis_events.where("closed = false").count > 0 %>
        <h3>SOS status: <span class="text-danger">Crisis </span><i class="fas fa-exclamation-triangle text-danger"></i>
        </h3>
      <% else %>
        <h3>SOS status: <span class="text-success">none</span></h3>
      <% end %>
    </div>
    <div class="row text-start">
      <% if @user.crisis_events.where("closed = false").count > 0 %>
        <% @user.crisis_events.where("closed = false").each do |crisis| %>
          <p><span class="h5">When? </span><%= crisis.created_at %></p>
          <p><span class="h5">Type? </span> <%= crisis.crisis_type %></p>
          <p><span class="h5">Info: </span> <%= crisis.additional_info %></p>
        <% end %>
      <% else %>
        <p class="text-start">
          This user has no active crisis events. Any active Crisis Events will be displayed here.
        </p>
      <% end %>
    </div>
  </section>
  <%# end %>

  <!-- Wellbeing Metrics section -->
  <section class="row" id="wellbeing">
    <div class="col">
      <h3 class="mb-5">User Wellbeing</h3>
      <div class="row text-start pb-5">
        <h4>Donut</h4>
      </div>
      <div class="row text-start pb-5">
        <h4>Wellbeing history</h4>
      </div>
    </div>
  </section>

  <!-- Journal section -->
  <section class="row" id="users">
    <div class="col">
      <h3>Journal</h3>
      <div class="row text-start">
        <h4>Latest journal entry</h4>
        <p class="my-3">You'll see the user's latest journal entry here</p>
        <a href="#" class="btn btn-primary" type="button">
          View User's journal <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </section>

  <!-- Notes section -->
  <!-- Add note modal -->
  <div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="note-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= form_with model: @note,
                      url: add_user_note_path(@user.id) do |form| %>
          <div class="modal-header border-0">
            <h5 class="modal-title text-black-50" id="">Add a note for this user</h5>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <%= form.text_area :content, class: 'form-control', rows: '8', placeholder: 'Add your note', aria: { label: 'Add your note' }, required: 'true' %>
            </div>
            <div class="form-check form-switch d-flex justify-content-between px-0">
              <%= form.label :visible_to_user, class: 'form-check-label text-black-50' do %>
                Allow user to see this note?<small> (default = 'no')</small>
              <% end %>
              <%= form.check_box :visible_to_user, class: 'form-check-input' %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <%= form.submit 'Add note', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- End modal -->


  <section class="card px-0" id="users">
    <div class="card-header border-0 bg-transparent">
      <h3>User Notes</h3>
    </div>
    <div class="card-body bg-transparent notes-card" style="max-height: 40vh; overflow: scroll;">
      <% @user_notes.each do |note| %>
        <div class="card bg-transparent my-2">
          <div class="card-header d-flex justify-content-between">
            <span class="me-4">Added by <strong><%= note.team_member.first_name %></strong> on <strong><%= note.created_at.strftime('%d/%m/%Y %I:%M %p') %></strong></span>
            <span>Visible to user?
              <% if note.visible_to_user? %><i class="fa fa-check-circle text-success ms-2"></i>
              <% else %> <i class="fa fa-times-circle ms-2 text-danger"></i>
              <% end %>
            </span>
          </div>
          <div class="card-body text-start">
            <p><%= note.content %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary my-2 col-12" type="button" data-bs-toggle="modal" data-bs-target="#note-modal">
        Add note <i class="fa fa-angle-right ml-2"></i>
      </button>
    </div>
  </section>

</main>
