<%= render 'layouts/searchable', class_list: 'user folders', header: 'My Folders', index: 'user_folders',
           stats: render(partial: 'shared/folders/stats'), 
           new_btn: render(partial: 'shared/new_btn') do %>
  <%= render 'shared/folders/modal', folder: @new_child_folder, action: "create", controller: "child_folders" %>
  <div class="container p-0">
    <div class="row">
      <div class="col">
        <div class="row card-view">
          <% @resources.each do |child_folder| %>
            <div class="col-12 col-md-6 col-lg-4 mb-3 d-flex justify-content-center" >
              <div class="dropdown">
                <%= link_to child_folder.name , folder_children_path(folder_id: child_folder.id),class: "btn btn-primary context-buttons",  id:child_folder.id %>
                <ul class="dropdown-menu" id="childFolderDropdownMenu" aria-labelledby="childFolderDropdownMenu" data-dropdown-id="folderDropdownMenu-<%=child_folder.id%>">
                  <li><%= link_to "Open", folder_children_path(folder_id: child_folder.id), tabindex: "-1", class: "dropdown-item" %></li>
                  <li><%= render 'shared/folders/dropdown_modal', folder: @new_child_folder, action: 'create_sub_folder', url: folder_create_child_path(folder_id: child_folder.id) %> </li>
                  <li><%= render 'shared/folders/dropdown_modal', folder: child_folder, action: 'edit_sub_folder', url: folder_update_path(folder_id: child_folder.id) %> </li>
                  <li><%= link_to('Delete', folder_delete_child_path(child_folder), class: 'dropdown-item', method: :delete, data: {confirm: 'Are you sure you want to delete this folder?'}) %></li>
                  <li><span class="dropdown-item" tabindex="-1" >Last modified: <%= child_folder.updated_at.strftime('%d/%m/%Y') %></span></li>
                  <li><span class="dropdown-item" tabindex="-1" >Created At: <%= child_folder.created_at.strftime('%d/%m/%Y') %></span></li>
                  <li><a class="dropdown-item" tabindex="-1" href="#"><%= 250 - bytes_to_megabytes(current_team_member.total_upload_size)%>MB remaining of 250MB.</a></li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_pack_tag 'folder' %>
