<div class="container p-0">
    <div class="row align-items-center" style="padding-left: 0 !important;">
        <% if local_assigns[:heading].present? %>
            <h3 class="card-header mb-2"><%= local_assigns[:heading] %></h3>
        <% end %>

        <% if local_assigns[:show_timestamp].present? || local_assigns[:show_author].present? %>
            <div class="metadata mb-2">
                <small>
                <% if local_assigns[:assessment].team_member.present? %>
                    <i class="fas fa-user-plus"></i> <%= local_assigns[:assessment].team_member.full_name %>
                <% end %>
                <% if local_assigns[:show_timestamp].present? %>
                    <i class="fas fa-calendar-alt"></i> <%= local_assigns[:assessment].created_date %>
                    <i class="fas fa-clock"></i> <%= local_assigns[:assessment].created_time %>
                <% end %>
                </small>
            </div>
        <% end %>

        <%= render 'shared/occupational_therapist_assessments/main_content', local_assigns: local_assigns%>
    </div>
</div>