<div class="col-12 col-xl-7 sliders p-0 <%= local_assigns[:hide_sliders].present? ? 'd-none' : '' %>">
  <div class="container p-0 p-md-3">
    <!-- Sliders Heading Present => New/Show View -->
    <% if local_assigns[:sliders_heading].present? %>
      <div class="row">
        <div class="col">
          <h3><%= local_assigns[:sliders_heading] %></h3>

          <% if local_assigns[:show_timestamp].present? %>
            <h5><%= local_assigns[:wellbeing_assessment].created %></h5>
          <% end %>
        </div>

        <% if local_assigns[:wellbeing_assessment].team_member.present? %>
          <div class="col">
            <h3>Recorded By</h3>
            <h5><%= local_assigns[:wellbeing_assessment].team_member.full_name %></h5>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- New Wellbeing Assessment Form -->
    <% if local_assigns[:wellbeing_metrics].present? %>
      <%= form_with model: local_assigns[:wellbeing_assessment], url: local_assigns[:path], method: :post do |form| %>
        <% local_assigns[:wellbeing_metrics].each do |wellbeing_metric| %>
          <div class="row">
            <div class="col-12 col-sm-5">
              <%= form.label "wellbeing_metric_#{wellbeing_metric.id}"  do %>
                <% if team_member_signed_in? %>
                  <i class="fas fa-<%= wellbeing_metric.icon %>"></i>
                <% end %>
                <%= wellbeing_metric.name %>
              <% end %>
            </div>
            <div class="col-9 col-sm-5">
              <%= form.range_field "wellbeing_metric_#{wellbeing_metric.id}", in: 1..10, class: 'form-range',
                                   value: last_score(local_assigns[:last_scores], wellbeing_metric.id)  %>
            </div>
            <div class="col-3 col-sm-2">
              <%= render 'shared/wellbeing_chart/description',
                         value: last_score(local_assigns[:last_scores], wellbeing_metric.id) %>
            </div>
          </div>
        <% end %>
        <div class="row submit-btn">
          <div class="col">
            <%= form.submit 'Submit', class: 'btn btn-primary mt-2' %>
          </div>
        </div>
      <% end %>
    <!-- Wellbeing Assessment Present => Show/Index View -->
    <% elsif local_assigns[:wellbeing_assessment].present? %>
      <% local_assigns[:wellbeing_assessment].wba_scores.includes(:wellbeing_metric).each do |score| %>
        <div class="row">
          <div class="col-8">
            <label for=<%= "wellbeing_metric_#{score.wellbeing_metric.id}" %>>
              <% if team_member_signed_in? %>
                <i class="fas fa-<%= score.wellbeing_metric.icon %>"></i>
              <% end %>
              <%= score.wellbeing_metric.name %>
            </label>
          </div>
          <div class="d-none">
            <input type="range" id="<%= "wellbeing_metric_#{score.wellbeing_metric.id}" %>" value="<%= score.value %>">
          </div>
          <div class="col-4">
            <%= render 'shared/wellbeing_chart/description', value: score.value %>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
