<div class="col-12 col-xl-6 sliders <%= local_assigns[:hide_sliders].present? ? 'd-none' : '' %>">
  <% if local_assigns[:sliders_heading].present? %>
    <h3><%= local_assigns[:sliders_heading] %></h3>
  <% end %>
  <% if local_assigns[:show_timestamp].present? %>
    <h5><%= local_assigns[:wellbeing_assessment].created %></h5>
  <% end %>
  <div class="container p-0 p-md-3">
    <% if local_assigns[:wellbeing_metrics].present? %>
      <%= form_with model: local_assigns[:wellbeing_assessment], url: local_assigns[:path], method: :post do |form| %>
        <% local_assigns[:wellbeing_metrics].each do |wellbeing_metric| %>
          <div class="row">
            <div class="col-12 col-sm-4">
              <%= form.label "wellbeing_metric_#{wellbeing_metric.id}", wellbeing_metric.name %>
            </div>
            <div class="col-9 col-sm-5">
              <%= form.range_field "wellbeing_metric_#{wellbeing_metric.id}", in: 1..10, class: 'form-range',
                                   value: last_score(local_assigns[:last_scores], wellbeing_metric.id)  %>
            </div>
            <div class="col-3 col-sm-3">
              <div class="description badge rounded-pill wba-score__<%= last_score(local_assigns[:last_scores],
                                                                                   wellbeing_metric.id) %>"></div>
            </div>
          </div>
        <% end %>
        <div class="row submit-btn">
          <div class="col">
            <%= form.submit 'Submit', class: 'btn btn-primary mt-2' %>
          </div>
        </div>
      <% end %>
    <% elsif local_assigns[:wellbeing_assessment].present? %>
      <% local_assigns[:wellbeing_assessment].wba_scores.includes(:wellbeing_metric).each do |score| %>
        <div class="row">
          <div class="col-8">
            <label for=<%= "wellbeing_metric_#{score.wellbeing_metric.id}" %>><%= score.wellbeing_metric.name %></label>
          </div>
          <div class="d-none">
            <input type="range" id="<%= "wellbeing_metric_#{score.wellbeing_metric.id}" %>" value="<%= score.value %>">
          </div>
          <div class="col-4">
            <div class="description badge rounded-pill wba-score__<%= last_score(local_assigns[:last_scores],
                                                                                 score.wellbeing_metric.id) %>"></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
