<main class="container index <%= class_list %>">
  <% if local_assigns[:search].present? %>
    <%= local_assigns[:search] %>
  <% else %>
    <section class="row pb-0 mb-0 justify-content-end">
      <%= render 'shared/search/search' %>
    </section>
  <% end %>
  <section class="row">
    <div class="col">
      <h3><%= header %></h3>
      <% if local_assigns[:stats].present? %>
        <%= local_assigns[:stats] %>
      <% end %>
      <%= render 'shared/search/search_results' %>
      <div class="row mb-3">
        <% if local_assigns[:new_btn].present? %>
          <%= local_assigns[:new_btn] %>
        <% end %>
        <%= render 'shared/search/limit' %>
      </div>
      <%= yield %>
    </div>
    <%= render 'shared/search/pagination_controls', index: index %>
  </section>
</main>