<main class="container index <%= class_list %>">
  <% if local_assigns[:header_section].present? %>
    <%= local_assigns[:header_section] %>
  <% end %>

  <section class="row mb-0">
    <div class="col">
      <div class="container p-0">
        <div class="row">
          <h2 class="mb-<%= local_assigns[:subheader].present? ? "0" : "2" %>"><%= header %></h2>

          <% if local_assigns[:subheader].present? %>
            <h4><%= local_assigns[:subheader] %></h4>
          <% end %>

          <% if local_assigns[:stats].present? %>
            <%= local_assigns[:stats] %>
          <% end %>
        </div>

        <div class="row">
          <%= render 'shared/search/search_results' %>
        </div>

        <% if local_assigns[:new_btn].present? %>
          <div class="row">
            <%= local_assigns[:new_btn] %>
          </div>
        <% end %>

        <hr />

        <div class="row pb-3">
          <% if local_assigns[:search].present? %>
            <%= local_assigns[:search] %>
          <% else %>
            <%= render 'shared/search/search' %>
          <% end %>
          <%= render 'shared/search/limit' %>
        </div>

        <%= yield %>

        <div class="row justify-content-md-center">
          <div class="col">
            <small class="text-muted">Showing
              <%= ((@page*@limit) - @limit) + 1 %> -
              <%= @page*@limit >= @count ? @count : @page*@limit %> of
              <%= @count %> results
            </small>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render 'shared/search/pagination_controls', index: index, remove_margins: true %>

  <% if local_assigns[:footer_section].present? %>
    <%= local_assigns[:footer_section] %>
  <% end %>
</main>
