<!DOCTYPE html>
<html>
  <head>
    <title>Include Journey</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');</style>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <link href="https://unpkg.com/@pqina/flip/dist/flip.min.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="overboot">

  <% if user_signed_in? && @deletion_date.present? %>
    <%= render 'shared/deletion_date', deletion_date: @deletion_date %>
  <% end %>

  <% if user_signed_in? || team_member_signed_in? %>
    <%= render "shared/navbar" %>

    <% if user_signed_in? %>
      <%= render partial: '/modals/contact_times/index' %>
    <% end %>
  <% end %>

  <% flash.each do |type, msg| %>
    <% if type != 'timedout' %>
      <div class="alert <%= alert_class_for(type) %> alert-dismissible fade show position-absolute top-0 start-50 translate-middle-x px-5" role="alert">
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% if type == 'congratulations' %>
        <%= javascript_pack_tag 'confetti' %>
      <% end %>
    <% end %>
  <% end %>

  <%= yield %>

  <% if user_signed_in? || team_member_signed_in? %>
    <footer class="text-center text-white bg-brand">
      <div class="footers container pt-4">
        <a class="title" href="https://www.swansea.ac.uk/staff/g.h.morgan/"><h3>GM</h3></a>
        <h3>x</h3>
        <a class="title" href="https://include-uk.com"><h3> Include uk</h3></a>
        <h3>x</h3>
        <a class="title" href="https://legaltech.wales/"><h3>Legal Innovation Lab Wales</h3></a>
        <section class="mb-4 mt-3">
          <a class="btn btn-link btn-floating btn-lg m-1" href="https://www.facebook.com/includehub" role="button"
             data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-link btn-floating btn-lg m-1" href="https://twitter.com/includeHub" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-link btn-floating btn-lg m-1" href="https://include-uk.com" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>
          <a class="btn btn-link btn-floating btn-lg m-1" role="button" data-bs-toggle="modal" data-bs-target="#contactModal"
             data-mdb-ripple-color="dark">
            <i class="fas fa-clock"></i>
          </a>
        </section>
      </div>
      <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="https://legaltech.wales/">Legal Innovation Lab Wales</a> ●
        <a class="text-dark" href="/terms">Terms of Use</a> ●
        <a class="text-dark" href="/privacy_notice">Privacy Notice</a> ●
        <a class="text-dark" href="/cookie_policy">Cookie Policy</a>
      </div>
    </footer>
  <% end %>
  </body>
</html>
