<main class="ij-form edit">
  <div class="col-12 col-md-7">
    <div class="form-container">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
        
        <div class="form-group">
          <p class="text-danger">
            <% if flash[:alert] %>
              <%= flash[:alert] %>
            <% end %>
          </p>
        </div>

        <div class="form-group">
          <h4>General</h4>
          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <%= form.text_field :first_name, autofocus: true, class: 'form-control', autocomplete: 'first-name', placeholder: 'First Name' %>
                <%= form.label :first_name %>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <%= form.text_field :last_name, class: 'form-control', autocomplete: 'last-name', placeholder: 'Last Name' %>
                <%= form.label :last_name %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <%= form.number_field :mobile_number, class: 'form-control', autocomplete: 'mobile-number', placeholder: 'Mobile No.' %>
                <%= form.label :mobile_number %>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <h4>Account</h4>
          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <%= form.email_field :email, class: 'form-control', autocomplete: 'email', placeholder: 'Email Address' %>
                <%= form.label :email %>
              </div>
            </div>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="row">
            <div class="col-md">
              <div class="form-floating change-password">
                <%= form.password_field :password, class: 'form-control', autocomplete: 'password', placeholder: 'Password - 6 characters minimum' %>
                <%= form.label :password do %>
                  Password <span class="small-text">(leave blank if you don't want to change it)</span>
                <% end %>
              </div>
            </div>
            <div class="col-md confirm-password">
              <div class="form-floating">
                <%= form.password_field :password_confirmation, class: 'form-control', autocomplete: 'password', placeholder: 'Password Again' %>
                <%= form.label :password_confirmation %>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <h4>Additional</h4>
          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <%= form.date_field :date_of_birth, class: 'form-control', autocomplete: 'date-of-birth', placeholder: 'Date of Birth', :max => DateTime.now %>
                <%= form.label :date_of_birth %>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <%= form.select :pronouns, User::PRONOUN_OPTIONS[0..User::PRONOUN_OPTIONS.count-2], { selected: current_user.pronouns }, { class: 'form-select' } %>
                <%= form.label :pronouns %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <%= form.select :sex, User::SEX_OPTIONS[0..User::SEX_OPTIONS.count-2], { selected: current_user.sex }, { class: 'form-select' }  %>
                <%= form.label :sex %>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <%= form.select :gender_identity, User::GENDER_IDENTITY_OPTIONS[0..User::GENDER_IDENTITY_OPTIONS.count-2], { selected: current_user.gender_identity }, { class: 'form-select' }  %>
                <%= form.label :gender_identity, 'Gender identity same as sex?' %>
              </div>
            </div>
          </div>
          <div class="row <%= 'd-none' if ENV['ORGANISATION_NAME'] == 'include-journey' %>">
            <div class="col-md">
              <div class="form-floating">
                <%= form.text_field :address, class: 'form-control', value: resource.address %>
                <%= form.label :address %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <%= form.select :ethnic_group, User::ETHNICITY_OPTIONS[0..User::ETHNICITY_OPTIONS.count-2], { selected: current_user.ethnic_group }, { class: 'form-select' }  %>
                <%= form.label :ethnic_group %>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <%= form.select :religion, User::RELIGION_OPTIONS[0..User::RELIGION_OPTIONS.count-2], { selected: current_user.religion }, { class: 'form-select' }  %>
                <%= form.label :religion %>
              </div>
            </div>
          </div>
          <% if ENV['ORGANISATION_NAME'] == 'include-journey'%>
          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <%= form.text_area :disabilities, class: 'form-control' %>
                <%= form.label :disabilities %>
              </div>
            </div>
          </div>
          <% elsif ENV['ORGANISATION_NAME'] == 'wallich-journey'%>
          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <%= form.text_field :disabilities, class: 'form-control' %>
                <%= form.label :disabilities %>
              </div>
            </div>

            <div class="col-md">
              <div class="form-floating">
                <%= form.text_field :emergency_contact_name, class: 'form-control', value: resource.emergency_contact.name if !resource.emergency_contact.nil? %>
                <%= form.label :emergency_contact_name do %>
                  Emergency Contact's Name
                <% end %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <%= form.text_field :emergency_contact_relationship, class: 'form-control', value: resource.emergency_contact.relationship if !resource.emergency_contact.nil? %>
                <%= form.label :emergency_contact_relationship do %>
                  Emergency Contact's Relationship
                <% end %>
              </div>
            </div>

            <div class="col-md">
              <div class="form-floating">
                <%= form.text_field :emergency_contact_number, class: 'form-control', value: resource.emergency_contact.number if !resource.emergency_contact.nil? %>
                <%= form.label :emergency_contact_number do %>
                  Emergency Contact's Number
                <% end %>
              </div>
            </div>
          </div>
          <% end %>

          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <%= form.text_area :summary_panel, class: 'form-control custom-textarea', value: resource.summary_panel %>
                <%= form.label :summary_panel, 'Pen Profile' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
                <%= form.check_box :notifications_enabled %>
                <%= form.label :notifications_enabled, 'Send reminder emails' %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary my-2 py-2 px-5" type="button" data-bs-toggle="modal" data-bs-target="#updateModal">
            Update
          </button>
        </div>      

        <% unless @deletion_date.present? %>
          <%= link_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' },
                      method: :delete, class: "btn btn-danger" %>
        <% end %>

        <%= render 'modals/confirm_edit', form: form %>

      <% end %>
    </div>
  </div>
</main>

<%= javascript_pack_tag 'edit_form' %>